


@mixin slk{
   .tex-slk{
      p.date{
         font-size: 14px;
         font-weight: 300;
         color: white;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         margin-bottom: 0;
         @include mq('lg'){
            font-size:16px;
            margin-bottom: 9px;
         }
         @include mq('desktop'){
            font-size: 14px;
            line-height: 18px;
         }
         @include mq('phone'){
            font-size: 13px;
            line-height: 18px;
         }
      }
      p.tk{
         font-size: 18px;
         line-height: 25px;
         font-weight: 300;
         color: white;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         margin-top: 0;
         @include mq('lg'){
            font-size: 18.5px;
            margin-bottom: 9px;
         }
         @include mq('desktop'){
            font-size: 15px;
            line-height: 20px;
         }
         @include mq('phone'){
            font-size: 13px;
            line-height: 18px;
         }
      }
   }
}