@import 'variables';
@import 'mixins';

body{
   background:#222222; 
   margin: auto;
   width: 100%;
   max-width: 1920px; 
}
.header{  
   width: 100%;
   max-width: 1920px;
}
.container{ 
   display: flex;
   width: 84%;
   margin: auto;
   align-items: center;
   justify-content: space-between;
   @include mq('tablet'){
      width: 93%;
   }
   @include mq('phone'){
      width: 95%;
   }      
}
.logo{
   display: flex;
   padding-left: 40px;
   @include mq('lg'){
      padding-left: 42px;
   }
   @include mq('tablet'){
      padding-left: 0;
   }
   @include mq('phone'){
      padding-left: 0;
      text-align: center;
   }
   p{
      font-size: 28px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      line-height: 35px;
      font-weight: 400;
      color: white;
      @include mq('lg'){
         font-size: 28px;
      }
      @include mq('tablet'){
         font-size: 25px;
      }
      @include mq('phone'){
         font-size: 20px;
         margin: 0 0;
      }
   }
   p.nada{
      font-weight: 700;
   }
}
.menu nav.active{
   @include mq ('phone') {
       left: 0;
   }
}
.menu nav{
   @include mq('phone') {
      position: absolute;
      width: 100%;
      left: -100%;
      background-color:#2cc1db;
      top: 50px;
      transition: 0.5s;
      z-index: 1;
      width: 30%;
   }
   @include mq('es'){
      width: 100%;
      top: 34px;
   }
   ul{
      display: flex;
      justify-content: flex-end;
      margin: 0;
      @include mq('lg'){
         padding-left: 73px;
      }
      @include mq('phone'){
         display: block;
         margin: 0;
         padding: 0;
      }
      a{
         text-decoration: none;
         li{
            padding-right: 15px;
            font-size:15px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-transform: uppercase;
            list-style-type: none;
            line-height: 100px;
            color:white;

            &:hover{
               color: #2cc1db;
               transition: 0.4s;
            }

            @include mq('lg'){
               padding-right: 27px;
               font-size:16px;
            }
            @include mq('w'){
               padding-right: 15px;
            }
            @include mq('tablet'){
               font-size: 13px;
            }
            @include mq('phone'){
               display: block;
               text-align: center;
               border-bottom: 1px solid rgba(0,0,0,.2);
               font-size: 13px;
               line-height: 25px;
               padding-right: 0;

               &:hover{
                  color: black;
                  transition: 0.4s;
               }
            }
         }
         
         li.en{
            padding-right: 0;
         }
         li.sr{
            margin-left: 40px;
            @include mq('lg'){
               margin-left: 85px;
            }
            @include mq('w'){
               margin-left: 35px;
            }
            @include mq('phone'){
               margin-left: 0;
            }
         }
      }
      
   }
}
.menu-toggle{
   font-size: 14px;
   cursor: pointer;
   display: none;
   @include mq ('phone') {
       display: block;
      
   }
   img{
      @include mq('es'){
         width: 24px;
      }
   }
}
.section.one{
   position: relative;
   background-image: url("../images/11.png");
   background-repeat: no-repeat;
   background-size: contain;
   height:864px;
   max-width: 1920px;
   width: 100%;
   @include mq('phone'){
      height:350px;
   }
}
.one .note{
   margin-left: 4.1%;
   width: 46%;
   background:#2cc1db;
   text-align: center;
   @include mq('lg'){
      width: 48%;
   }
   @include mq('tablet'){
      display: none;
   }
   @include mq('phone'){
      display: none;
   }
   p{
      font-size: 13px;
      line-height: 25px;
      font-weight: 300;
      color: white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      padding: 15px 0;
      margin: 0;
      @include mq('lg'){
         font-size: 17px;
      }
   }
}
.one .heading{
   padding-top: 12.5%;
   margin-left:18%;
   @include mq('w'){
      margin-left: 8.5%;
      padding-top: 10%;
   }
   @include mq('phone'){
      margin-left:0;
      padding-top: 140px;
   }
   .name{
      @include mq('phone'){
         text-align: center;
      }
      h1{
         font-family: 'Lato';
         font-size: 50px;
         line-height: 50px;
         font-weight: 300;
         color: white;
         margin: 0;
         @include mq('lg'){
            font-size: 62px;
            line-height: 72px;
         }
         @include mq('w'){
            font-size: 35px;
            line-height: 40px;
         }
         @include mq('phone'){
            font-size: 23px;
            line-height: 27px;
         }
      }
   }
   .text{
      margin-left: 3px;
      @include mq('phone'){
         text-align: center;
         width: 90%;
         margin: auto;
      }
      p{
         font-size: 15px;
         line-height: 25px;
         font-weight: 300;
         color: white;
         font-family: 'Lato', sans-serif;
         @include mq('lg'){
            font-size: 16.8px;
            line-height: 27px;
         }
         @include mq('w'){
            font-size: 13px;
            line-height: 15px;
         }
      }
   }
   .tell{
      text-align: center;
      margin-left: 5px;
      width:11%;
      position: relative;
      z-index: 9;
      @include mq('lg'){
         width: 11.07%;
      }
      @include mq('tablet'){
         width: 15%;
      }
      @include mq('phone'){
         width: 15%;
         margin: auto;
      }
      a{
         text-decoration: none;
         p{
            font-size:16px;
            line-height: 16px;
            font-weight: 500;
            color: white;
            font-family: 'Lato', sans-serif;
            padding: 20px 0;
            margin: 0;
            background-color: #2cc1db;
            @include mq('lg'){
               margin-top: 23px;
               font-size: 16.8px;
            }
            @include mq('w'){
               font-size: 14px;
            }
            @include mq('phone'){
               font-size: 12px;
               padding: 10px 0;
            }
         }
         p:hover{
            background-color: #fefefe;
            color: #2cc1db;
            transition: 0.4s;
         }
      }
   }
}

.section .two{
   width: 100%;
   max-width: 1920px;
}
.wall{
   background-image: url("../images/walpaper-one-section.png");
   background-repeat: no-repeat;
   background-size: contain;
   margin-left: 7%;
   max-width: 1920px;
   width: 93%;
   height: 995px;
   position: relative;
   margin-top: -507px;
   @include mq('lg'){
      margin-left: 5.5%;
      width: 94.5%;
      margin-top: -375px;
   }
   @include mq('w'){
      width: 100%;
      margin-left:0;
      margin-top: -607px;
   }
   @include mq('phone'){
      margin-top:-150px;
   }
   .prime{
      position: relative;
      top: 90px;
      .quatro{
         position: relative;
         @include mq('tablet'){
            display: none;
         }
         @include mq('phone'){
            display: none;
         }
         .triangle{
            position: absolute;
            right: 0;
            .cube{
               position: absolute;
               top: 151px;
               left: 18px;
            }
         }
      }
      .tent{
         position: relative;
         width: 100%;
         top: 306px;
         @include mq('lg'){
            right:1.4%;
         }
         @include mq('w'){
            top:100px;
         }
         .parol{
            position: relative;
            text-align: center;
            h1{
               font-size: 50px;
               line-height: 50px;
               font-weight: 300;
               color: white;
               margin-bottom: 0;
               font-family: 'Lato', sans-serif;
               @include mq('lg'){
                  font-size: 60px;
                  line-height: 70px;
               }
               @include mq('w'){
                  font-size: 30px;
                  line-height: 30px;
               }
               @include mq('phone'){
                  font-size: 25px;
                  line-height: 25px;
               }
            }
         }
         .paroles{
            position: relative;
            text-align: center;
            p{
               margin-top: 20px;
               font-size:14px;
               line-height: 20px;
               font-weight: 300;
               color: white;
               font-family: 'Lato', sans-serif;
               @include mq('lg'){
                  font-size: 16.4px;
                  line-height: 25px;
                  margin-top: 17px;
               }
               @include mq('phone'){
                  font-size: 12px;
                  line-height: 15px;
               }
            }
         }
      }
   }
   .sport{
      position: relative;
      width: 100%;
      top: 340px;
      @include mq('lg'){
          top: 381px;
          right: 1.7%;
      }
      @include mq('w'){
         top: 150px;
      }
      @include mq('es'){
         display: none;
      }
      .sport-one{
         margin: auto;
         width:63%;
         border-bottom: 1px solid white;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: stretch;
         @include mq('lg'){
            width: 57.75%;
         }
         @include mq('desktop'){
            width: 60%;
         }
         @include mq('tablet'){
             width: 70%;
         }
         @include mq('phone'){
             width: 80%;
         }
         .globe{
            width: 19.9%;
            text-align: center;
            border-right: 1px solid white;
            padding-top: 18px;
            padding-bottom: 31px;
            @include mq('lg'){
               padding-top: 10px;
               padding-bottom: 25px;
            }
            @include mq('desktop'){
               width: 19%;
            }
            @include mq('tablet'){
               width: 19%;
            }
            @include mq('phone'){
               width: 18%;
               padding-top: 10px;
               padding-bottom: 15px;
            }
            img{
               @include mq('phone'){
                  width: 20%;
               }
            }
            p{
               font-size: 22px;
               line-height: 22px;
               margin: 0;
               margin-bottom: 0;
               font-weight: 300;
               font-family: 'Lato', sans-serif;
               color: white;
               @include mq('lg'){
                  font-size: 22px;
                  line-height: 22px;
               }
               @include mq('desktop'){
                  font-size: 18px;
               }
               @include mq('tablet'){
                  font-size: 16px;
               }
               @include mq('phone'){
                   font-size: 14px;
                   line-height: 16px;
               }
            }
         }
         .globe.bulit{
            border-right: none;
         }
      }
      .sport-two{
         margin: auto;
         width:63%;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: stretch;
         @include mq('lg'){
            width: 57.75%;
         }
         @include mq('desktop'){
            width: 60%;
         }
         @include mq('tablet'){
            width: 70%;
         }
         @include mq('phone'){
            width: 80%;
           
         }
         .inter{
            width: 19.9%;
            text-align: center;
            border-right: 1px solid white;
            @include mq('desktop'){
               width: 19%;
            }
            @include mq('tablet'){
               width: 19%;
            }
            @include mq('phone'){
               width: 18%;
            }
            p{
               font-size: 22px;
               line-height: 22px;
               margin-bottom: 0;
               color: white;
               font-weight: 300;
               font-family: 'Lato', sans-serif;
               @include mq('lg'){
                  font-size: 22px;
                  line-height: 22px;
               }
               @include mq('desktop'){
                  font-size: 18px;
               }
               @include mq('tablet'){
                  font-size: 16px;
               }
               @include mq('phone'){
                  font-size: 14px;
                  line-height: 16px;
               }
            }
            img{
               padding-top: 22px;
               @include mq('phone'){
                  width: 20px;
               }
            }
         }
         .inter.swam{
            border-right: none;
         }
      }
   }
}
.section.three{
   position: relative;
   top: -240px;
   max-width: 1920px;
   width: 100%;
   @include mq('lg'){
      top: -157px;
   }
   @include mq('w'){
      top: -450px;
   }
   @include mq('tablet'){
      top: -350px;
   }
   @include mq('phone'){
      display: none;
   }
   .triangle-white{
      position: relative;
      .only{
         position: absolute;
         img{
            @include mq('tablet'){
               width: 130px;
            }
         }
      }
      .cube-blue{
         position: absolute;
         top: 290px;
         left: 42px;
         @include mq('lg'){
            top: 301px;
         }
         @include mq('tablet'){
            top: 170px;
            left: 30px;
         }
         img{
            @include mq('tablet'){
               width: 60px;
            }
         }
      }
   }
   .player{
      position: absolute;
      right: 0;
      top: 210px;
      @include mq('lg'){
         top: 208px;
      }
      @include mq('tablet'){
         top: 70px;
      }
      img{
         width: 490px;
         @include mq('lg'){
            width: 597px;
         }
         @include mq('w'){
            width: 350px;
         }
      }
   }
}
.section.four{
   background-image: url("../images/walpaper-one-section.png");
   background-repeat: no-repeat;
   background-size: contain;
   width: 100%;
   max-width: 1920px;
   position: relative;
   height: 995px;
}
.textualite{
   width: 73%;
   margin-left: 16%;
   margin-top: 90px;
   @include mq('lg'){
      margin-top: 184px;
      margin-left: 15.7%;
      width: 73.48%;
   }
   @include mq('w'){
      width: 60%;
      margin: auto;
      margin-top: 0;
      position: relative;
      top: -200px;
   }
   @include mq('desktop'){
      width: 81%;
      margin-left: 15%; 
   }
   @include mq('tablet'){
       width: 70%;
       margin-left: 13%;
   }
   @include mq('phone'){
      width: 90%;
      top: -370px;
   }
   @include mq('es'){
      top: -650px;
   }
   .introduct{
      text-align:left;
      @include mq('es'){
         text-align: center;
      }
      p{
         font-size: 30px;
         color: white;
         font-family: 'Roboto', sans-serif;
         padding-left: 25px;
         @include mq('lg'){
            font-size: 40px;
            font-weight: 100;
            padding-left: 32px;
         }
         @include mq('w'){
            font-size: 25px;
         }
         @include mq('tablet'){
            font-size: 21px;
         }
         @include mq('es'){
            font-size: 20px;
            padding-left: 0;
            font-weight: 100;
         }
      }
   }

}
.quado{
   margin-top: 37px;
   @include mq('lg'){
      margin-top: 54px;
   }
   @include mq('w'){
      margin-top: 0;
   }
   .twint{
      margin-bottom: 42px;
      display: flex;
      justify-content: space-between;
      @include mq('w'){
         flex-wrap: wrap;
      }
      .lope{
         display: block;
         width: 22.7%;
         background-color: #222222;
         @include mq('lg'){
            width: 22.7%;
         }
         @include mq('w'){
            width: 24%;
            border: 1px solid white;
            margin-bottom: 10px;
         }
         @include mq('tablet'){
            width:49%;
         }
         @include mq('phone'){
            width:49%;
         }
         @include mq('es'){
            width: 100%;
         }
         h3{
            font-size: 15px;
            padding-left: 25px;
            font-weight: 500;
            color: white;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 0;
            @include mq('lg'){
               font-size: 20px;
               margin-top: 25px;
               line-height: 26px;
            }
            @include mq('desktop'){
               font-size: 13px;
               padding-left: 5%;
            }
            @include mq('tablet'){
               font-size: 13px;
            }
            @include mq('es'){
               text-align: center;
               padding-left: 0;
            }
         } 
         p{
            font-size: 13px;
            padding-left: 25px;
            margin-top: 5px;
            padding-bottom: 10px;
            font-weight: 300;
            color: #fefefe;
            font-family: 'Lato', sans-serif;
            @include mq('lg'){
               font-size: 16px;
               line-height: 26px;
            }
            @include mq('desktop'){
               font-size: 12px;
               padding-left: 5%;
            }
            @include mq('tablet'){
                font-size: 12px;
            }
            @include mq('es'){
               text-align: center;
            }
         }
      }
      .one{
         h3{
            @include mq('lg'){
                padding-left: 27px;
            }
         }
         p{
            @include mq('lg'){
               line-height: 26px;
               padding-left: 27px;
               padding-bottom: 0;
            }
         }
      }
      .two{
         h3{
            @include mq('lg'){
               padding-left: 33px;
            }
         }
         p{
            @include mq('lg'){
               line-height: 26px;
               padding-left: 33px;
            }
         }
      }
      .three{
         h3{
            @include mq('lg'){
               padding-left: 33px;
            }
         }
      }
      .four{
         h3{
            @include mq('lg'){
               padding-left: 45px;
            }
         }
      }
      .five{
         h3{
            @include mq('lg'){
               padding-left:27px;
            }
         }
         p{
            @include mq('lg'){
               padding-left:27px;
            }
         }
      }
      .six{
         h3{
            @include mq('lg'){
               padding-left:33px;
            }
         }
      }
      .seven{
         @include mq('tablet'){
            padding-bottom: 88px;
         }
         h3{
            @include mq('lg'){
               padding-left:38px;
            }
         }
      }
      .eight{
         h3{
            @include mq('lg'){
               padding-left:45px;
            }
         }
         p{
            @include mq('lg'){
               padding-left:45px;
               margin-top: 13px;
            }
         }
      }
      .two,
      .three,
      .four{
         padding-top:62px;
      }
      .five,
      .six{
         padding:62px 0;
      }
      .seven{
         padding-top:48px;
      }
      .eight{
         padding-top:28px;
      }
      .three,
      .four{
         @include mq('w'){
            padding-bottom: 55px;
         }
      }
   }
}
.seecoll{
   margin: auto;
   width: 17%;
   text-align: center;
   border: 1px solid white;
   @include mq('lg'){
      width: 15.4%;
      margin-left: 41.9%;
      margin-top: 4.5%;
   }
   @include mq('es'){
      width: 25%;
   }
   a{
      text-decoration: none;
      p{
         font-size:14px;
         color: white;
         font-family: 'Lato', sans-serif;
         font-weight: 300;
         margin:0;
         padding: 15px 0;
         @include mq('lg'){
            font-size: 17px;
            margin: 0;
            padding: 16.2px 0;
         }
         @include mq('phone'){
            font-size: 12px;
         }
         @include mq('es'){
            font-size: 11px;
         }
      }
      p:hover{
         background-color: #2cc1db;
         color: black;
         transition:0.4s;
      }
   }
}
.victory{
   position: relative;
   max-width: 1920px;
   width: 100%;
   display: flex;
   
}
.famos{
   position:absolute;
   top: -570px;
   @include mq('lg'){
      top: -430px;
   }
   @include mq('desktop'){
      top: -500px;
   }
   @include mq('tablet'){
      top: -320px;
   }
   @include mq('phone'){
      top: -350px;
   }
   @include mq('es'){
      top: 50px;
   }
   img{
      width: 700px;
      @include mq('lg'){
         width: 826px;
      }
      @include mq('desktop'){
         width: 500px;
      }
      @include mq('tablet'){
         width: 400px;
      }
      @include mq('phone'){
         width: 300px;
      }
   }
}
.section.five{
   background-image: url("../images/walpaper-one-section.png");
   background-repeat: no-repeat;
   background-size: contain;
   max-width: 1920px;
   width: 100%;
   position: relative;
   height: 995px;
   top: -185px;
   display: flex;
   @include mq('lg'){
      top: 18px;
   }
   @include mq('desktop'){
      top: -220px;
   }
   @include mq('tablet'){
      top: -100px;
      display: block;
   }
   @include mq('phone'){
      display: block;
   }
   @include mq('es'){
      top: 300px;
   }
   .coach{
      position: absolute;
      width: 57%;
      left: 23.5%;
      background-color:#2cc1db;
      text-align: center;
      padding: 15px 0;
      @include mq('lg'){
         left: 22.1%;
         width: 58.6%;
      }
      @include mq('tablet'){
         padding: 0;
      }
      @include mq('phone'){
         padding: 0;
      }
      @include mq('es'){
         display: none;
      }
      p{
         font-size: 24px;
         line-height: 40px;
         font-weight: 400;
         color: white;
         font-family: 'Lato', sans-serif;
         font-style: oblique;
         @include mq('lg'){
            font-size: 32px;
            margin: 0;
            font-style: italic;
            line-height: 42px;
            padding-top: 24px;
            padding-bottom: 44px;
         }
         @include mq('desktop'){
            font-size: 15px;
            line-height: 20px;
         }
         @include mq('tablet'){
            font-size: 14px;
            line-height: 17px;
         }
         @include mq('phone'){
            font-size: 15px;
            line-height: 17px;
         }
      }
   }
   .homes{
      display: flex;
      position: relative;
      width: 45%;
      left:5%;
      top: 270px;
      @include mq('lg'){
         top: 380px;
         left:12.4%;
      }
      @include mq('w'){
         width: 61%;
         left: 3.5%;
      }
      @include mq('desktop'){
         top: 200px;
      }
      @include mq('tablet'){
         width:100%;
         left: 0;
      }
      @include mq('phone'){
         width: 100%;
         left: 0;
      }
      @include mq('es'){
         top: 0;
      }
      .device{
         width: 10%;
         margin-top: 158px;
         @include mq('w'){
            width: 3.7%;
         }
         @include mq('tablet'){
            width: 2.4%;
            position: relative;
            left: 7%;
         }
         @include mq('phone'){
            display: none;
         }
         .cubice{
            margin-bottom: 9px;
         }
         .small-cube{
            margin-top: 5px;
            margin-left: 5px;
         }
      }
      .reflect{
         width: 100%;
         position: relative;
         left: 13%;
         @include mq('w'){
            width: 83%;
            left: 8%;
         }
         @include mq('tablet'){
            width: 80%;
            left: 16.4%;
         }
         @include mq('phone'){
            width: 100%;
            left: 0%;
            text-align: center;
         }
         @include mq('es'){
            width: 65%;
            margin: auto;
         }
         h3{
            margin-top: 70px;
            margin-bottom: 0;
            font-size: 30px;
            line-height: 70px;
            font-weight: 300;
            color: white;
            font-family: 'Lato', sans-serif;
            @include mq('lg'){
               font-size: 40px;
            }
            @include mq('phone'){
               font-size: 20px;
               line-height: 30px;
            }
            @include mq('es'){
               text-align: center;
               font-size: 20px;
            }
         }
         p.ref-text{
            font-size:14px;
            line-height: 25px;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            color: white;
            @include mq('lg'){
               font-size: 15.5px;
            }
            @include mq('desktop'){
               font-size: 12px;
               line-height: 18px;
            }
            @include mq('phone'){
               font-size: 12px;
               line-height: 18px;
            }
            @include mq('es'){
               text-align: center;
            }
         }
         p.JD{
            margin-top: 15px;
            padding-left: 6px;
            margin-bottom: 0;
            font-size: 18px;
            line-height: 25px;
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            color: white;
            @include mq('lg'){
               font-size: 21px;
            }
            @include mq('desktop'){
               font-size: 17px;
            }
            @include mq('phone'){
               font-size: 16px;
            }
            @include mq('es'){
               font-size: 18px;
               padding-left: 0;
               margin: 35px 0 0 0;
            }
         }
         p.china{
            margin-top: 0;
            padding-left: 17px;
            font-size:15px;
            line-height: 25px;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            color: white;
            @include mq('lg'){
               font-size: 16.5px;
            }
            @include mq('desktop'){
               font-size: 14px;
            }
            @include mq('phone'){
               font-size: 13px;
            }
            @include mq('es'){
               font-size: 12px;
               padding-left: 0;
            }
         }
         .servile{
            width:35%;
            text-align: center;
            margin-top: 51px;
            border: 1px solid white;
            position: relative;
            z-index: 9;
            @include mq('lg'){
               width: 27.4%;
               margin-top: 48px;
            }
            @include mq('tablet'){
                width: 20%;
            }
            @include mq('phone'){
               width: 20%;
               margin: auto;
            }
            @include mq('es'){
               width: 30%;
               margin: auto;
            }
            a{
               text-decoration: none;
               color: white;
               p{
                  font-family: 'Lato', sans-serif;
                  font-size: 15px;
                  line-height: 23px;
                  margin: 0;
                  padding: 15px 0;
                  @include mq('lg'){
                     font-size: 16.8px;
                     padding: 16px 0;
                  }
                  @include mq('tablet'){
                     font-size: 13px;
                     padding: 12px 0;
                  }
                  @include mq('phone'){
                     font-size: 13px;
                     padding: 10px 5px;
                  }
                  @include mq('es'){
                     font-size: 11px;
                     padding: 7px 0;
                  }
               }
               p:hover{
                  background-color: #2cc1db;
                  color: black;
                  transition: 0.4s;
               }
            }
         }
      }
   }
   .image-box{
      position: absolute;
      display: flex;
      right: 0;
      top: 190px;
      @include mq('lg'){
         top: 218px;
      }
      @include mq('tablet'){
         position: relative;
         width: 100%;
         top: 0;
      }
      @include mq('phone'){
         position: relative;
         width: 100%;
         top: 0;
      }
      .direct{
         position: absolute;
         right: 220px;
         top: 120px;
         @include mq('lg'){
            top: 157px;
            right: 260px;
         }
         @include mq('desktop'){
            right: 170px;
            top: 105px;
         }
         @include mq('tablet'){
            position: relative;
            width: 50%;
            margin: auto;
            text-align: center;
            top: -400px;
            right: 0;
         }
         @include mq('phone'){
            position: relative;
            width: 50%;
            margin: auto;
            text-align: center;
            top: -300px;
            right: 0;
         }
         @include mq('es'){
            top: 0;
            width: 80%;
         }
         img{
            width: 480px;
            @include mq('lg'){
               width: 573px;
            }
            @include mq('desktop'){
               width: 300px;
            }
            @include mq('tablet'){
               width: 250px;
            }
            @include mq('phone'){
               width: 250px;
            }
         }
      }
      .triangle-right{
         @include mq('tablet'){
            display: none;
         }
         @include mq('phone'){
            display: none;
         }
         .bigest img{
            width: 350px;
            @include mq('lg'){
               width: 433px;
            }
            @include mq('desktop'){
               width: 250px;
            }
         }
         .cube-midlee{
            position: absolute;
            top: 110px;
            left: 140px;
            @include mq('lg'){
               left: 188px;
               top: 149px;
            }
            @include mq('desktop'){
               top: 90px;
               left: 100px;
            }
            img{
               @include mq('desktop'){
                  width:60px;
               }
            }
         }
      }
   }
}
.section.six{
   position: relative;
   width: 100%;
   max-width: 1920px;
}
.wall-two{
   background-image: url("../images/walpaper-one-section.png");
   background-repeat: no-repeat;
   background-size: contain;
   width: 100%;
   max-width: 1920px;
   position: relative;
   height: 995px;
   top: -650px;
   @include mq('lg'){
      top: -350px;
   }
   @include mq('tablet'){
      height: 800px;
   }
}
.coach-two{
   display: flex;
   position: absolute;
   top: -350px;
   @include mq('lg'){
      top: -55px;
   }
   @include mq('desktop'){
      top: -520px;
   }
   @include mq('tablet'){
      display: block;
      width: 100%;
      top: -250px;
   }
   @include mq('phone'){
      display: block;
      width: 100%;
      top: -450px;
   }
   @include mq('es'){
      top: 130px;
   }
   .image-box-two{
      .triangle-left{
         @include mq('tablet'){
            display: none;
         }
         @include mq('phone'){
            display: none;
         }
         .cube-white{
            position: absolute;
            top: 450px;
            left: 140px;
            @include mq('lg'){
               top:568px;
               left: 171px;
            }
            @include mq('desktop'){
               top: 320px;
               left: 120px;
            }
            img{
               @include mq('desktop'){
                  width: 60px;
               }
            }
         }
         .triangle-blue{
            img{
               width: 350px;
               @include mq('lg'){
                  width: 423px;
               }
               @include mq('desktop'){
                  width: 250px;
               }
            }
         }
      }
      .direct-two{
         position: absolute;
         left: 215px;
         top: 120px;
         @include mq('lg'){
            left: 201px;
            top: 143px;
         }
         @include mq('desktop'){
            left: 170px;
            top: 105px;
         }
         @include mq('tablet'){
            position: relative;
            top:0;
            left:0;
            text-align: center;
         }
         @include mq('phone'){
            position: relative;
            top:0;
            left:0;
            text-align: center;
         }
         
         img{
            width: 480px;
            @include mq('lg'){
               width: 556px;
            }
            @include mq('desktop'){
               width: 300px;
            }
            @include mq('tablet'){
               width: 250px
            }
            @include mq('phone'){
               width: 250px;
            }
         }
      }
   }
   .reflect-two{
      position: relative;
      top: 100px;
      left:400px;
      width: 100%;
      @include mq('lg'){
         left: 388px;
         top: 175px;
      }
      @include mq('desktop'){
         left: 230px;
         top: 35px
      }
      @include mq('tablet'){
         width: 70%;
         margin: auto;
         top: -100px;
         left: 0;
      }
      @include mq('phone'){
         top: -50px;
         left: 0;
      }
      .intimer{
         @include mq('tablet'){
            width: 100%;
            text-align: center;
         }
         @include mq('phone'){
            width: 97%;
            margin: auto;
            text-align: center;
         }
         @include mq('es'){
            width: 65%;
         }
         h3{
            margin-top: 70px;
            margin-bottom: 0;
            font-size: 30px;
            line-height: 70px;
            font-weight: 300;
            color: white;
            font-family: 'Lato', sans-serif;
            @include mq('lg'){
               font-size: 40px;
            }
            @include mq('phone'){
               font-size: 20px;
               line-height: 30px;
            }
         }
         p.there{
            font-size:14px;
            line-height: 25px;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            color: white;
            @include mq('lg'){
               font-size: 16.4px;
               margin-top: 14px;
            }
            @include mq('desktop'){
               font-size: 14px;
               line-height: 20px;
            }
            @include mq('phone'){
               font-size: 12px;
               line-height: 17px;
            }
         }
         .geting{
            width:25%;
            text-align: center;
            margin-top: 50px;
            border: 1px solid white;
            @include mq('lg'){
              width: 29.9%;
              margin-top: 48px;
            }
            @include mq('tablet'){
               width: 20%;
               margin: auto;
               margin-top: 40px;
            }
            @include mq('phone'){
               width: 17%;
               margin: auto;
               margin-top: 40px;
            }
            @include mq('es'){
               width: 28%;
            }
            a{
               text-decoration: none;
               color: white;
               p{
                  font-size: 15px;
                  font-family: 'Lato', sans-serif;
                  line-height: 23px;
                  margin: 0;
                  padding: 15px 0;
                  @include mq('lg'){
                     font-size: 16px;
                  }
                  @include mq('tablet'){
                     font-size: 13px;
                     padding: 12px 0;
                  }
                  @include mq('phone'){
                     font-size: 13px;
                     padding: 10px 0;
                  }
                  @include mq('es'){
                     font-size: 11px;
                     padding: 7px 0;
                  }
               }
               p:hover{
                  background-color: #2cc1db;
                  color: black;
                  transition: 0.4s;
               }
            }
         }
      }
   }
}
.section.seven{
   position: relative;
   width: 100%;
   max-width: 1920px;
}
.blog{
   position: relative;
   top: -500px;
   text-align: center;
   @include mq('lg'){
      width: 99%;
      top: -185px;
      left: 17px;
   }
   @include mq('tablet'){
      top: -330px;
   }
   @include mq('phone'){
      top:-840px;
   }
   @include mq('es'){
      top: -150px;
   }
   h2{
      font-size:40px;
      line-height: 70px;
      font-weight: 300;
      color: white;
      font-family: 'Roboto', sans-serif;
      @include mq('lg'){
         font-size: 40px;
      }
      @include mq('tablet'){
         font-size: 35px;
      }
      @include mq('phone'){
         font-size: 25px;
         line-height: 35px;
      }
      @include mq('es'){
         font-size: 18px;
      }
   }
}
.track{
   height: 319px;
   width: 100%;
   max-width: 1920px;
   position:relative;
   top: -300px;
   background-image: url("../images/bela.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   @include mq('lg'){
      top: -18px;
   }
   @include mq('tablet'){
      height: 0;
   }
   @include mq('phone'){
      height: 0;
   }
   @include mq('es'){
      top: 250px;
   }
   .galery{
      display: flex;
      position: absolute;
      top:-30%;
      left:11.2%;
      width: 77.7%;
      @include mq('lg'){
         width: 61.4%;
         left: 19%;
         top: -34%;
      }
      @include mq('desktop'){
        top: -24%;
      }
      @include mq('tablet'){
         flex-wrap: wrap;
      }
      @include mq('phone'){
         flex-wrap: wrap;
         top: -500px;
      }
      @include mq('es'){
         top: -370px;
      }
      .part-left{
         width: 50%;
         @include mq('tablet'){
            width: 100%;
         }
         @include mq('phone'){
            width: 100%;
         }
         img{
            width: 100%;
         }
         .tex-slk{
            position: absolute;
            top:85%;
            margin-left:1.8%;
            @include mq('lg'){
               top:81.9%;
            }
            @include mq('tablet'){
                top: 43%;
            }
            @include mq('phone'){
               top: 25%;
            }
            @include mq('es'){
               margin-left: 5px;
            }
         }
      }
      .part-right{
         width: 50%;
         margin-left:1.2%;
         @include mq('tablet'){
            width: 100%;
            margin-left: 0;
            margin-top: 15px;
         }
         @include mq('phone'){
            width: 100%;
            margin-left: 0;
            margin-top: 15px;
         }
         .half-up{
            img{
               width: 100%;
            }
            .tex-slk{
               position: absolute;
               top:30.5%;
               margin-left: 25px;
               @include mq('desktop'){
                  margin-left: 10px;
               }
               @include mq('tablet'){
                  top: 68%;
               }
               @include mq('phone'){
                  top: 50%;
               }
               @include mq('es'){
                  margin-left: 5px;
               }
            }
         }
         .half-down{
            display: flex;
            margin-top: 12px;
            .bicucle{
               margin-right: 14px;
               width: 50%;
               img{
                  width: 100%;
               }
               .tex-slk{
                  position: absolute;
                  top:85%;
                  margin-left:1.8%;
                  @include mq('lg'){
                     top: 82.4%;
                  }
                  @include mq('desktop'){
                     margin-left: 10px;
                  }
                  @include mq('tablet'){
                     top: 94%;
                  }
                  @include mq('phone'){
                     margin-left: 10px;
                 
                  }
                  @include mq('es'){
                     margin-left: 5px;
                  }
               }
            }
            .winner{
               width: 50%;
               img{
                  width: 100%;
               }
               .tex-slk{
                  position: absolute;
                  top:85%;
                  margin-left:1.8%;
                  @include mq('lg'){
                     top: 82.4%;
                  }
                  @include mq('desktop'){
                     margin-left: 10px;
                  }
                  @include mq('tablet'){
                     top: 94%;
                  }
                  @include mq('phone'){
                     margin-left: 10px;
                  }
                  @include mq('es'){
                     margin-left: 5px;
                  }
               }
            }
         }
      }
   }
}
.part-left{
   @include slk;
}
.part-right{
   width: 50%;
   @include mq('tablet'){
      width: 100%;
   }
   @include mq('phone'){
      width: 100%;
   }
   @include slk;
}
.winner{
   @include slk;
}
.bicucle{
   @include slk;
}
.section.eight{
   position: relative;
   @include mq('tablet'){
      top: 1300px;
   }
   @include mq('es'){
      display: none;
   }
   .ball{
      background-image: url("../images/basketball.png");
      background-repeat: no-repeat;
      background-size: contain;
      height: 828px;
      background-position-x: right;
      position: relative;
      top: -300px;
      @include mq('lg'){
         position: relative;
         top:50px;
      }
      @include mq('desktop'){
         top: -150px;    
      }
      @include mq('w'){
         top:-300px;
      }
      @include mq('tablet'){
         display: none;
      }
      @include mq('phone'){
         display: none;
      }
      .lecture{
         position: absolute;
         top: 255px;
         width: 100%;
         text-align: center;
         @include mq('lg'){
            width: 99%;
            right: 25px;
         }
         @include mq('desktop'){
            top: 400px;  
         }
         h2{
            font-size:40px;
            line-height: 70px;
            font-weight: 300;
            color: white;
            margin-bottom: 31px;
            font-family: 'Lato', sans-serif;
            @include mq('lg'){
               font-size: 41px;
               line-height: 60px;
               margin-bottom: 36px;
            }
         }
         .contac{
            position: relative;
            right: 4px;
            width: 15%;
            margin: auto;
            @include mq('lg'){
               width: 11.9%;
               left: 11px;
            }
            a{
               text-decoration: none;
               color: white;
               p{
                  line-height: 56px;
                  font-size: 17px;
                  font-family: 'Lato', sans-serif;
                  background-color: #2cc1db;
               }
               p:hover{
                  background-color: white;
                  color: #2cc1db;
                  transition: 0.4s;
               }
            }   
         }
      }
   }
}
.footer{
   position: relative;
   width: 100%;
   @include mq('lg'){
      top:45px;
   }
}
.footer-version-one{
   display: flex;
   width: 100%;
   position: absolute;
   top: -222px;
   justify-content: space-between;
   @include mq('lg'){
      top:-92px;
   }
   @include mq('tablet'){
      top: 1158px;
   }
   @include mq('footer'){
      top: 1000px;
   }
   @include mq('phone'){
      display:none;
   }
}
.footer-part-left{
    width: 40%;
    @include mq('desktop'){
      width: 42.5%;    
   }
   @include mq('tablet'){
      width: 42.5%;
   }
}
.logo-down{
   display: flex;
   width:90%;
   margin-left:auto;
   @include mq('lg'){
      width:80%;
   }
   @include mq('tablet'){
      width:95%;
   }
   @include mq('phone'){
      margin-left: 0;
      width: initial;
   }
   @include mq('es'){
      display: none;
   }
   p{
      margin-top: 41px;
      font-size: 28px;
      font-weight: 300;
      line-height: 35px;
      font-family: 'Roboto', sans-serif;
      color: white;
      @include mq('lg'){
         font-size: 29px;
         padding-left:0;
         margin-top: 51px;

         &:nth-last-child(2){
            padding-left: 0;
         }
      }
      @include mq('tablet'){
          font-size: 20px;
          line-height: 43px;
          margin-top: 30px;
      }
      @include mq('phone'){
         margin: 0;
         font-size: 20px;
      }
   }
   p.nada{
      font-weight: 700;
      @include mq('lg'){
        padding-left: 48px;
      }
   }
}
.block-border{
   border-bottom: 1px solid white;
   width:90%;
   margin-left: auto;
   margin-top: -2.1px;
   @include mq('lg'){
      width: 80%;
   }
   @include mq('tablet'){
      width: 95%;
   }
   @include mq('phone'){
      margin-left: 0;
      margin-top: 0;
      margin: auto;
      width: 95%;
   }
}
.copy{
   width:90%;
   margin-left: auto;
   margin-top: 35px;
   margin-bottom: 60px;
   @include mq('lg'){
      width: 80%;
   }
   @include mq('tablet'){
      width: 95%;
      margin-top: 0;
      margin-bottom: 0;
   }
   @include mq('phone'){
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      width: initial;
   }
   @include mq('es'){
      text-align: center;
   }
   p{
      font-family: 'Roboto', sans-serif;
      font-size:14px;
      line-height: 25px;
      color: white;
      font-weight: 300;
      @include mq('lg'){
         font-size: 15.5px;
         padding-left: 5px;
      }
      @include mq('tablet'){
         font-size: 13px;
      }
      @include mq('phone'){
          font-size: 12px;
      }
      a{
         font-family: 'Roboto', sans-serif;
         color:#2cc1db;
         font-size: 14px;
         line-height: 25px;
         @include mq('lg'){
            font-size: 17px;
         }
         @include mq('tablet'){
            font-size: 13px;
         }
         @include mq('phone'){
            font-size: 12px;
         }
      }
   }
   
}
.top{
   position: relative;
   @include mq('desktop'){
      width: 15%;   
   }
   @include mq('tablet'){
      width: 15%;
   }
   .base{
      position: absolute;
      img{
         left:-112px;
         top: 63px;
         position: relative;
         @include mq('desktop'){
            width: 250px;
            left: 0;
            top: 98px;
         }
         @include mq('tablet'){
            width: 150px;
            left: 0;
            top: 68px;
         }
      }
   }
   .flag{
      position: relative;
      top:-10px;
      left:-14px;
      @include mq('lg'){
         left: -14px;
         top: -10px;
      }
      @include mq('desktop'){
         top: 0;
         left: 0;
      }
      img{
         @include mq('desktop'){
            width: 55px;
            position: relative;
            top: 37px;
            left: 72px;
         }
         @include mq('tablet'){
            width: 30px;
            position: relative;
            left: 60px;
            top: 44.8px;
         }
      }
   }
}
.footer-part-right{
   width: 40%;
   margin-right: 0;
   @include mq('lg'){
      width: 42%;
   }
   @include mq('desktop'){
      width: 42.5%;     
   }
   @include mq('tablet'){
      width: 42.5%;
   }
}
.menu-social{
   display: flex;
   width: 90%;
   justify-content: space-between;
   @include mq('lg'){
      width: 80%;
   }
   @include mq('tablet'){
      width: 95%;
   }
}
.footer-menu{
   position: relative;
   right: 28px;
   width:78%;
   margin-bottom: 5px;
   @include mq('lg'){
      right:10%;
      width: 85%;
   }
   @include mq('desktop'){
      width: 100%;
      right: 0;
   }
   @include mq('tablet'){
      width: 100%;
      right: 0;
   }
   @include mq('phone'){
      right: 0;
      width: initial;
   }
   @include mq('es'){
      width: 100%;
   }
   ul{
      display: flex;
      padding-left: 0;
      margin-bottom: 0;
      @include mq('desktop'){
         justify-content: space-between;
      }
      @include mq('tablet'){
         justify-content: space-between;
      }
      @include mq('es'){
         flex-wrap: wrap;
         justify-content: space-between;
      }
      li{
         padding-right: 8px;
         padding-top: 12px;
         font-size:14px;
         line-height: 70px;
         font-weight: 400;
         text-transform: uppercase;
         list-style-type: none;
         font-family: 'Roboto', sans-serif;
         color: #fefefe;
         @include mq('lg'){
            font-size: 15px;
            padding-right: 30px;
            line-height: 80px;

            &:nth-last-child(1){
               padding-right: 0;
            }
         }
         @include mq('social'){
            padding-right: 15px; 
         }
         @include mq('desktop'){
            font-size: 13px;
            padding-right: 0;
         }
         @include mq('tablet'){
            font-size: 11px;
            padding-right: 0;
            padding-top: 0;
         }
         @include mq('phone'){
            font-size: 11px;
            padding-top: 0;
            line-height: initial;
         }
         @include mq('es'){
            padding-right: 0;
         }
         a{
            text-decoration: none;
            color: white;
         }
      }
      li.homepage{
         padding-left: 0;
      }
   }
}
.footer-social{
   @include mq('lg'){
      position: relative;
      right:4%;
   }
   @include mq('desktop'){
      display: none;  
   }
   @include mq('tablet'){
      display: none;
   }
   ul{
      display: flex;
      padding-left: 0;
      margin-top: 42px;
      @include mq('lg'){
         margin-top: 47px;
      }
      li{
         list-style-type: none;
         border: 1px solid white;
         width: 30px;
         height: 30px;
         text-align: center;
         margin-left: 5px;
         @include mq('lg'){
            width: 37px;
            height: 37px;
         }
         img{
            width: 10px;
            padding-top: 8px;
            @include mq('lg'){
               width: initial;
            }
         }

      }
   }
}
.block-border-1{
   border-bottom: 1px solid white;
   width:90%;
   @include mq('lg'){
      width: 80%;
   }
   @include mq('desktop'){
      width: 80%;
      position: relative;
      left: 10%; 
   }
   @include mq('tablet'){
      width: 95%;
   }
}
.desing{
   width: 90%;
   margin-top: 37px;
   text-align: right;
   @include mq('lg'){
      width: 80%;
   }
   @include mq('tablet'){
      width: 95%;
      margin-top: 0;
   }
   @include mq('phone'){
      margin-top: 0;
      width: initial;
   }
   @include mq('es'){
      text-align: center;
   }
   p{
      font-size:14px;
      line-height: 25px;
      font-weight: 300;
      color: white;
      font-family: 'Roboto', sans-serif;
      @include mq('lg'){
         font-size: 16px;
      }
      @include mq('tablet'){
         font-size: 13px;
      }
      @include mq('phone'){
         font-size: 12px;
      }
      a{
         color:#2cc1db ;
      }
   }
}
.footer-s{
   display: none;
   @include mq('phone'){
      display: block;
      position: relative;
      top: 300px;
   }
   @include mq('es'){
      top: 700px;
   }
   .prva{
      @include mq('phone'){
         display: flex;
         flex-wrap: wrap;
         width: 95%;
         margin: auto;
         justify-content: space-between;
         align-items: center;
      }
   }
   .druga{
      @include mq('phone'){
         
      } 
   }
   .treca{
      @include mq('phone'){
         display: flex;
         flex-wrap: wrap;
         width: 95%;
         margin: auto;
         justify-content: space-between;
      }
      @include mq('es'){
      display: block;
      }
   }
}