
// Media Query
@mixin mq($value) {
    @if $value == 'phone' {
        @media only screen and (min-width: 120px) and (max-width: 767px) {
             @content;
             }
     } @else if $value == 'tablet' {
         @media only screen and (min-width: 768px) and (max-width: 1024px) {
             @content;
             }
     } @else if $value == 'desktop' {
         @media only screen and (min-width: 1025px) and (max-width: 1350px){
             @content;
             }
     } @else if $value == 'w' {
         @media only screen and (max-width: 1200px) {
             @content;
             }
     } @else if $value == 'lg'{
         @media only screen and (min-width: 1537px) { 
             @content;
             }
     }@else if $value == 'es'{
        @media only screen and (max-width: 564px) {
            @content;
            }
     }@else if $value == 'footer'{
        @media only screen and (max-width: 900px) {
            @content;
            }
    }@else if $value == 'social'{
        @media only screen and (min-width:1530px) and (max-width: 1781px) {
            @content;
            }
    }             
}