body {
  background: #222222;
  margin: auto;
  width: 100%;
  max-width: 1920px; }

.header {
  width: 100%;
  max-width: 1920px; }

.container {
  display: flex;
  width: 84%;
  margin: auto;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
      width: 93%; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .container {
      width: 95%; } }

.logo {
  display: flex;
  padding-left: 40px; }
  @media only screen and (min-width: 1537px) {
    .logo {
      padding-left: 42px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .logo {
      padding-left: 0; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .logo {
      padding-left: 0;
      text-align: center; } }
  .logo p {
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 35px;
    font-weight: 400;
    color: white; }
    @media only screen and (min-width: 1537px) {
      .logo p {
        font-size: 28px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .logo p {
        font-size: 25px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .logo p {
        font-size: 20px;
        margin: 0 0; } }
  .logo p.nada {
    font-weight: 700; }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .menu nav.active {
    left: 0; } }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .menu nav {
    position: absolute;
    width: 100%;
    left: -100%;
    background-color: #2cc1db;
    top: 50px;
    transition: 0.5s;
    z-index: 1;
    width: 30%; } }

@media only screen and (max-width: 564px) {
  .menu nav {
    width: 100%;
    top: 34px; } }

.menu nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 0; }
  @media only screen and (min-width: 1537px) {
    .menu nav ul {
      padding-left: 73px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .menu nav ul {
      display: block;
      margin: 0;
      padding: 0; } }
  .menu nav ul a {
    text-decoration: none; }
    .menu nav ul a li {
      padding-right: 15px;
      font-size: 15px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-transform: uppercase;
      list-style-type: none;
      line-height: 100px;
      color: white; }
      .menu nav ul a li:hover {
        color: #2cc1db;
        transition: 0.4s; }
      @media only screen and (min-width: 1537px) {
        .menu nav ul a li {
          padding-right: 27px;
          font-size: 16px; } }
      @media only screen and (max-width: 1200px) {
        .menu nav ul a li {
          padding-right: 15px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .menu nav ul a li {
          font-size: 13px; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .menu nav ul a li {
          display: block;
          text-align: center;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          font-size: 13px;
          line-height: 25px;
          padding-right: 0; }
          .menu nav ul a li:hover {
            color: black;
            transition: 0.4s; } }
    .menu nav ul a li.en {
      padding-right: 0; }
    .menu nav ul a li.sr {
      margin-left: 40px; }
      @media only screen and (min-width: 1537px) {
        .menu nav ul a li.sr {
          margin-left: 85px; } }
      @media only screen and (max-width: 1200px) {
        .menu nav ul a li.sr {
          margin-left: 35px; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .menu nav ul a li.sr {
          margin-left: 0; } }

.menu-toggle {
  font-size: 14px;
  cursor: pointer;
  display: none; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .menu-toggle {
      display: block; } }
  @media only screen and (max-width: 564px) {
    .menu-toggle img {
      width: 24px; } }

.section.one {
  position: relative;
  background-image: url("../images/11.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 864px;
  max-width: 1920px;
  width: 100%; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .section.one {
      height: 350px; } }

.one .note {
  margin-left: 4.1%;
  width: 46%;
  background: #2cc1db;
  text-align: center; }
  @media only screen and (min-width: 1537px) {
    .one .note {
      width: 48%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .one .note {
      display: none; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .one .note {
      display: none; } }
  .one .note p {
    font-size: 13px;
    line-height: 25px;
    font-weight: 300;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px 0;
    margin: 0; }
    @media only screen and (min-width: 1537px) {
      .one .note p {
        font-size: 17px; } }

.one .heading {
  padding-top: 12.5%;
  margin-left: 18%; }
  @media only screen and (max-width: 1200px) {
    .one .heading {
      margin-left: 8.5%;
      padding-top: 10%; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .one .heading {
      margin-left: 0;
      padding-top: 140px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .one .heading .name {
      text-align: center; } }
  .one .heading .name h1 {
    font-family: 'Lato';
    font-size: 50px;
    line-height: 50px;
    font-weight: 300;
    color: white;
    margin: 0; }
    @media only screen and (min-width: 1537px) {
      .one .heading .name h1 {
        font-size: 62px;
        line-height: 72px; } }
    @media only screen and (max-width: 1200px) {
      .one .heading .name h1 {
        font-size: 35px;
        line-height: 40px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .one .heading .name h1 {
        font-size: 23px;
        line-height: 27px; } }
  .one .heading .text {
    margin-left: 3px; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .one .heading .text {
        text-align: center;
        width: 90%;
        margin: auto; } }
    .one .heading .text p {
      font-size: 15px;
      line-height: 25px;
      font-weight: 300;
      color: white;
      font-family: 'Lato', sans-serif; }
      @media only screen and (min-width: 1537px) {
        .one .heading .text p {
          font-size: 16.8px;
          line-height: 27px; } }
      @media only screen and (max-width: 1200px) {
        .one .heading .text p {
          font-size: 13px;
          line-height: 15px; } }
  .one .heading .tell {
    text-align: center;
    margin-left: 5px;
    width: 11%;
    position: relative;
    z-index: 9; }
    @media only screen and (min-width: 1537px) {
      .one .heading .tell {
        width: 11.07%; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .one .heading .tell {
        width: 15%; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .one .heading .tell {
        width: 15%;
        margin: auto; } }
    .one .heading .tell a {
      text-decoration: none; }
      .one .heading .tell a p {
        font-size: 16px;
        line-height: 16px;
        font-weight: 500;
        color: white;
        font-family: 'Lato', sans-serif;
        padding: 20px 0;
        margin: 0;
        background-color: #2cc1db; }
        @media only screen and (min-width: 1537px) {
          .one .heading .tell a p {
            margin-top: 23px;
            font-size: 16.8px; } }
        @media only screen and (max-width: 1200px) {
          .one .heading .tell a p {
            font-size: 14px; } }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .one .heading .tell a p {
            font-size: 12px;
            padding: 10px 0; } }
      .one .heading .tell a p:hover {
        background-color: #fefefe;
        color: #2cc1db;
        transition: 0.4s; }

.section .two {
  width: 100%;
  max-width: 1920px; }

.wall {
  background-image: url("../images/walpaper-one-section.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 7%;
  max-width: 1920px;
  width: 93%;
  height: 995px;
  position: relative;
  margin-top: -507px; }
  @media only screen and (min-width: 1537px) {
    .wall {
      margin-left: 5.5%;
      width: 94.5%;
      margin-top: -375px; } }
  @media only screen and (max-width: 1200px) {
    .wall {
      width: 100%;
      margin-left: 0;
      margin-top: -607px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .wall {
      margin-top: -150px; } }
  .wall .prime {
    position: relative;
    top: 90px; }
    .wall .prime .quatro {
      position: relative; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .wall .prime .quatro {
          display: none; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .wall .prime .quatro {
          display: none; } }
      .wall .prime .quatro .triangle {
        position: absolute;
        right: 0; }
        .wall .prime .quatro .triangle .cube {
          position: absolute;
          top: 151px;
          left: 18px; }
    .wall .prime .tent {
      position: relative;
      width: 100%;
      top: 306px; }
      @media only screen and (min-width: 1537px) {
        .wall .prime .tent {
          right: 1.4%; } }
      @media only screen and (max-width: 1200px) {
        .wall .prime .tent {
          top: 100px; } }
      .wall .prime .tent .parol {
        position: relative;
        text-align: center; }
        .wall .prime .tent .parol h1 {
          font-size: 50px;
          line-height: 50px;
          font-weight: 300;
          color: white;
          margin-bottom: 0;
          font-family: 'Lato', sans-serif; }
          @media only screen and (min-width: 1537px) {
            .wall .prime .tent .parol h1 {
              font-size: 60px;
              line-height: 70px; } }
          @media only screen and (max-width: 1200px) {
            .wall .prime .tent .parol h1 {
              font-size: 30px;
              line-height: 30px; } }
          @media only screen and (min-width: 120px) and (max-width: 767px) {
            .wall .prime .tent .parol h1 {
              font-size: 25px;
              line-height: 25px; } }
      .wall .prime .tent .paroles {
        position: relative;
        text-align: center; }
        .wall .prime .tent .paroles p {
          margin-top: 20px;
          font-size: 14px;
          line-height: 20px;
          font-weight: 300;
          color: white;
          font-family: 'Lato', sans-serif; }
          @media only screen and (min-width: 1537px) {
            .wall .prime .tent .paroles p {
              font-size: 16.4px;
              line-height: 25px;
              margin-top: 17px; } }
          @media only screen and (min-width: 120px) and (max-width: 767px) {
            .wall .prime .tent .paroles p {
              font-size: 12px;
              line-height: 15px; } }
  .wall .sport {
    position: relative;
    width: 100%;
    top: 340px; }
    @media only screen and (min-width: 1537px) {
      .wall .sport {
        top: 381px;
        right: 1.7%; } }
    @media only screen and (max-width: 1200px) {
      .wall .sport {
        top: 150px; } }
    @media only screen and (max-width: 564px) {
      .wall .sport {
        display: none; } }
    .wall .sport .sport-one {
      margin: auto;
      width: 63%;
      border-bottom: 1px solid white;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch; }
      @media only screen and (min-width: 1537px) {
        .wall .sport .sport-one {
          width: 57.75%; } }
      @media only screen and (min-width: 1025px) and (max-width: 1350px) {
        .wall .sport .sport-one {
          width: 60%; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .wall .sport .sport-one {
          width: 70%; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .wall .sport .sport-one {
          width: 80%; } }
      .wall .sport .sport-one .globe {
        width: 19.9%;
        text-align: center;
        border-right: 1px solid white;
        padding-top: 18px;
        padding-bottom: 31px; }
        @media only screen and (min-width: 1537px) {
          .wall .sport .sport-one .globe {
            padding-top: 10px;
            padding-bottom: 25px; } }
        @media only screen and (min-width: 1025px) and (max-width: 1350px) {
          .wall .sport .sport-one .globe {
            width: 19%; } }
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          .wall .sport .sport-one .globe {
            width: 19%; } }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .wall .sport .sport-one .globe {
            width: 18%;
            padding-top: 10px;
            padding-bottom: 15px; } }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .wall .sport .sport-one .globe img {
            width: 20%; } }
        .wall .sport .sport-one .globe p {
          font-size: 22px;
          line-height: 22px;
          margin: 0;
          margin-bottom: 0;
          font-weight: 300;
          font-family: 'Lato', sans-serif;
          color: white; }
          @media only screen and (min-width: 1537px) {
            .wall .sport .sport-one .globe p {
              font-size: 22px;
              line-height: 22px; } }
          @media only screen and (min-width: 1025px) and (max-width: 1350px) {
            .wall .sport .sport-one .globe p {
              font-size: 18px; } }
          @media only screen and (min-width: 768px) and (max-width: 1024px) {
            .wall .sport .sport-one .globe p {
              font-size: 16px; } }
          @media only screen and (min-width: 120px) and (max-width: 767px) {
            .wall .sport .sport-one .globe p {
              font-size: 14px;
              line-height: 16px; } }
      .wall .sport .sport-one .globe.bulit {
        border-right: none; }
    .wall .sport .sport-two {
      margin: auto;
      width: 63%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch; }
      @media only screen and (min-width: 1537px) {
        .wall .sport .sport-two {
          width: 57.75%; } }
      @media only screen and (min-width: 1025px) and (max-width: 1350px) {
        .wall .sport .sport-two {
          width: 60%; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .wall .sport .sport-two {
          width: 70%; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .wall .sport .sport-two {
          width: 80%; } }
      .wall .sport .sport-two .inter {
        width: 19.9%;
        text-align: center;
        border-right: 1px solid white; }
        @media only screen and (min-width: 1025px) and (max-width: 1350px) {
          .wall .sport .sport-two .inter {
            width: 19%; } }
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          .wall .sport .sport-two .inter {
            width: 19%; } }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .wall .sport .sport-two .inter {
            width: 18%; } }
        .wall .sport .sport-two .inter p {
          font-size: 22px;
          line-height: 22px;
          margin-bottom: 0;
          color: white;
          font-weight: 300;
          font-family: 'Lato', sans-serif; }
          @media only screen and (min-width: 1537px) {
            .wall .sport .sport-two .inter p {
              font-size: 22px;
              line-height: 22px; } }
          @media only screen and (min-width: 1025px) and (max-width: 1350px) {
            .wall .sport .sport-two .inter p {
              font-size: 18px; } }
          @media only screen and (min-width: 768px) and (max-width: 1024px) {
            .wall .sport .sport-two .inter p {
              font-size: 16px; } }
          @media only screen and (min-width: 120px) and (max-width: 767px) {
            .wall .sport .sport-two .inter p {
              font-size: 14px;
              line-height: 16px; } }
        .wall .sport .sport-two .inter img {
          padding-top: 22px; }
          @media only screen and (min-width: 120px) and (max-width: 767px) {
            .wall .sport .sport-two .inter img {
              width: 20px; } }
      .wall .sport .sport-two .inter.swam {
        border-right: none; }

.section.three {
  position: relative;
  top: -240px;
  max-width: 1920px;
  width: 100%; }
  @media only screen and (min-width: 1537px) {
    .section.three {
      top: -157px; } }
  @media only screen and (max-width: 1200px) {
    .section.three {
      top: -450px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .section.three {
      top: -350px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .section.three {
      display: none; } }
  .section.three .triangle-white {
    position: relative; }
    .section.three .triangle-white .only {
      position: absolute; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .section.three .triangle-white .only img {
          width: 130px; } }
    .section.three .triangle-white .cube-blue {
      position: absolute;
      top: 290px;
      left: 42px; }
      @media only screen and (min-width: 1537px) {
        .section.three .triangle-white .cube-blue {
          top: 301px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .section.three .triangle-white .cube-blue {
          top: 170px;
          left: 30px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .section.three .triangle-white .cube-blue img {
          width: 60px; } }
  .section.three .player {
    position: absolute;
    right: 0;
    top: 210px; }
    @media only screen and (min-width: 1537px) {
      .section.three .player {
        top: 208px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .section.three .player {
        top: 70px; } }
    .section.three .player img {
      width: 490px; }
      @media only screen and (min-width: 1537px) {
        .section.three .player img {
          width: 597px; } }
      @media only screen and (max-width: 1200px) {
        .section.three .player img {
          width: 350px; } }

.section.four {
  background-image: url("../images/walpaper-one-section.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  max-width: 1920px;
  position: relative;
  height: 995px; }

.textualite {
  width: 73%;
  margin-left: 16%;
  margin-top: 90px; }
  @media only screen and (min-width: 1537px) {
    .textualite {
      margin-top: 184px;
      margin-left: 15.7%;
      width: 73.48%; } }
  @media only screen and (max-width: 1200px) {
    .textualite {
      width: 60%;
      margin: auto;
      margin-top: 0;
      position: relative;
      top: -200px; } }
  @media only screen and (min-width: 1025px) and (max-width: 1350px) {
    .textualite {
      width: 81%;
      margin-left: 15%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .textualite {
      width: 70%;
      margin-left: 13%; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .textualite {
      width: 90%;
      top: -370px; } }
  @media only screen and (max-width: 564px) {
    .textualite {
      top: -650px; } }
  .textualite .introduct {
    text-align: left; }
    @media only screen and (max-width: 564px) {
      .textualite .introduct {
        text-align: center; } }
    .textualite .introduct p {
      font-size: 30px;
      color: white;
      font-family: 'Roboto', sans-serif;
      padding-left: 25px; }
      @media only screen and (min-width: 1537px) {
        .textualite .introduct p {
          font-size: 40px;
          font-weight: 100;
          padding-left: 32px; } }
      @media only screen and (max-width: 1200px) {
        .textualite .introduct p {
          font-size: 25px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .textualite .introduct p {
          font-size: 21px; } }
      @media only screen and (max-width: 564px) {
        .textualite .introduct p {
          font-size: 20px;
          padding-left: 0;
          font-weight: 100; } }

.quado {
  margin-top: 37px; }
  @media only screen and (min-width: 1537px) {
    .quado {
      margin-top: 54px; } }
  @media only screen and (max-width: 1200px) {
    .quado {
      margin-top: 0; } }
  .quado .twint {
    margin-bottom: 42px;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 1200px) {
      .quado .twint {
        flex-wrap: wrap; } }
    .quado .twint .lope {
      display: block;
      width: 22.7%;
      background-color: #222222; }
      @media only screen and (min-width: 1537px) {
        .quado .twint .lope {
          width: 22.7%; } }
      @media only screen and (max-width: 1200px) {
        .quado .twint .lope {
          width: 24%;
          border: 1px solid white;
          margin-bottom: 10px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .quado .twint .lope {
          width: 49%; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .quado .twint .lope {
          width: 49%; } }
      @media only screen and (max-width: 564px) {
        .quado .twint .lope {
          width: 100%; } }
      .quado .twint .lope h3 {
        font-size: 15px;
        padding-left: 25px;
        font-weight: 500;
        color: white;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 0; }
        @media only screen and (min-width: 1537px) {
          .quado .twint .lope h3 {
            font-size: 20px;
            margin-top: 25px;
            line-height: 26px; } }
        @media only screen and (min-width: 1025px) and (max-width: 1350px) {
          .quado .twint .lope h3 {
            font-size: 13px;
            padding-left: 5%; } }
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          .quado .twint .lope h3 {
            font-size: 13px; } }
        @media only screen and (max-width: 564px) {
          .quado .twint .lope h3 {
            text-align: center;
            padding-left: 0; } }
      .quado .twint .lope p {
        font-size: 13px;
        padding-left: 25px;
        margin-top: 5px;
        padding-bottom: 10px;
        font-weight: 300;
        color: #fefefe;
        font-family: 'Lato', sans-serif; }
        @media only screen and (min-width: 1537px) {
          .quado .twint .lope p {
            font-size: 16px;
            line-height: 26px; } }
        @media only screen and (min-width: 1025px) and (max-width: 1350px) {
          .quado .twint .lope p {
            font-size: 12px;
            padding-left: 5%; } }
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          .quado .twint .lope p {
            font-size: 12px; } }
        @media only screen and (max-width: 564px) {
          .quado .twint .lope p {
            text-align: center; } }
    @media only screen and (min-width: 1537px) {
      .quado .twint .one h3 {
        padding-left: 27px; } }
    @media only screen and (min-width: 1537px) {
      .quado .twint .one p {
        line-height: 26px;
        padding-left: 27px;
        padding-bottom: 0; } }
    @media only screen and (min-width: 1537px) {
      .quado .twint .two h3 {
        padding-left: 33px; } }
    @media only screen and (min-width: 1537px) {
      .quado .twint .two p {
        line-height: 26px;
        padding-left: 33px; } }
    @media only screen and (min-width: 1537px) {
      .quado .twint .three h3 {
        padding-left: 33px; } }
    @media only screen and (min-width: 1537px) {
      .quado .twint .four h3 {
        padding-left: 45px; } }
    @media only screen and (min-width: 1537px) {
      .quado .twint .five h3 {
        padding-left: 27px; } }
    @media only screen and (min-width: 1537px) {
      .quado .twint .five p {
        padding-left: 27px; } }
    @media only screen and (min-width: 1537px) {
      .quado .twint .six h3 {
        padding-left: 33px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .quado .twint .seven {
        padding-bottom: 88px; } }
    @media only screen and (min-width: 1537px) {
      .quado .twint .seven h3 {
        padding-left: 38px; } }
    @media only screen and (min-width: 1537px) {
      .quado .twint .eight h3 {
        padding-left: 45px; } }
    @media only screen and (min-width: 1537px) {
      .quado .twint .eight p {
        padding-left: 45px;
        margin-top: 13px; } }
    .quado .twint .two,
    .quado .twint .three,
    .quado .twint .four {
      padding-top: 62px; }
    .quado .twint .five,
    .quado .twint .six {
      padding: 62px 0; }
    .quado .twint .seven {
      padding-top: 48px; }
    .quado .twint .eight {
      padding-top: 28px; }
    @media only screen and (max-width: 1200px) {
      .quado .twint .three,
      .quado .twint .four {
        padding-bottom: 55px; } }

.seecoll {
  margin: auto;
  width: 17%;
  text-align: center;
  border: 1px solid white; }
  @media only screen and (min-width: 1537px) {
    .seecoll {
      width: 15.4%;
      margin-left: 41.9%;
      margin-top: 4.5%; } }
  @media only screen and (max-width: 564px) {
    .seecoll {
      width: 25%; } }
  .seecoll a {
    text-decoration: none; }
    .seecoll a p {
      font-size: 14px;
      color: white;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      margin: 0;
      padding: 15px 0; }
      @media only screen and (min-width: 1537px) {
        .seecoll a p {
          font-size: 17px;
          margin: 0;
          padding: 16.2px 0; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .seecoll a p {
          font-size: 12px; } }
      @media only screen and (max-width: 564px) {
        .seecoll a p {
          font-size: 11px; } }
    .seecoll a p:hover {
      background-color: #2cc1db;
      color: black;
      transition: 0.4s; }

.victory {
  position: relative;
  max-width: 1920px;
  width: 100%;
  display: flex; }

.famos {
  position: absolute;
  top: -570px; }
  @media only screen and (min-width: 1537px) {
    .famos {
      top: -430px; } }
  @media only screen and (min-width: 1025px) and (max-width: 1350px) {
    .famos {
      top: -500px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .famos {
      top: -320px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .famos {
      top: -350px; } }
  @media only screen and (max-width: 564px) {
    .famos {
      top: 50px; } }
  .famos img {
    width: 700px; }
    @media only screen and (min-width: 1537px) {
      .famos img {
        width: 826px; } }
    @media only screen and (min-width: 1025px) and (max-width: 1350px) {
      .famos img {
        width: 500px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .famos img {
        width: 400px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .famos img {
        width: 300px; } }

.section.five {
  background-image: url("../images/walpaper-one-section.png");
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1920px;
  width: 100%;
  position: relative;
  height: 995px;
  top: -185px;
  display: flex; }
  @media only screen and (min-width: 1537px) {
    .section.five {
      top: 18px; } }
  @media only screen and (min-width: 1025px) and (max-width: 1350px) {
    .section.five {
      top: -220px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .section.five {
      top: -100px;
      display: block; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .section.five {
      display: block; } }
  @media only screen and (max-width: 564px) {
    .section.five {
      top: 300px; } }
  .section.five .coach {
    position: absolute;
    width: 57%;
    left: 23.5%;
    background-color: #2cc1db;
    text-align: center;
    padding: 15px 0; }
    @media only screen and (min-width: 1537px) {
      .section.five .coach {
        left: 22.1%;
        width: 58.6%; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .section.five .coach {
        padding: 0; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .section.five .coach {
        padding: 0; } }
    @media only screen and (max-width: 564px) {
      .section.five .coach {
        display: none; } }
    .section.five .coach p {
      font-size: 24px;
      line-height: 40px;
      font-weight: 400;
      color: white;
      font-family: 'Lato', sans-serif;
      font-style: oblique; }
      @media only screen and (min-width: 1537px) {
        .section.five .coach p {
          font-size: 32px;
          margin: 0;
          font-style: italic;
          line-height: 42px;
          padding-top: 24px;
          padding-bottom: 44px; } }
      @media only screen and (min-width: 1025px) and (max-width: 1350px) {
        .section.five .coach p {
          font-size: 15px;
          line-height: 20px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .section.five .coach p {
          font-size: 14px;
          line-height: 17px; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .section.five .coach p {
          font-size: 15px;
          line-height: 17px; } }
  .section.five .homes {
    display: flex;
    position: relative;
    width: 45%;
    left: 5%;
    top: 270px; }
    @media only screen and (min-width: 1537px) {
      .section.five .homes {
        top: 380px;
        left: 12.4%; } }
    @media only screen and (max-width: 1200px) {
      .section.five .homes {
        width: 61%;
        left: 3.5%; } }
    @media only screen and (min-width: 1025px) and (max-width: 1350px) {
      .section.five .homes {
        top: 200px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .section.five .homes {
        width: 100%;
        left: 0; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .section.five .homes {
        width: 100%;
        left: 0; } }
    @media only screen and (max-width: 564px) {
      .section.five .homes {
        top: 0; } }
    .section.five .homes .device {
      width: 10%;
      margin-top: 158px; }
      @media only screen and (max-width: 1200px) {
        .section.five .homes .device {
          width: 3.7%; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .section.five .homes .device {
          width: 2.4%;
          position: relative;
          left: 7%; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .section.five .homes .device {
          display: none; } }
      .section.five .homes .device .cubice {
        margin-bottom: 9px; }
      .section.five .homes .device .small-cube {
        margin-top: 5px;
        margin-left: 5px; }
    .section.five .homes .reflect {
      width: 100%;
      position: relative;
      left: 13%; }
      @media only screen and (max-width: 1200px) {
        .section.five .homes .reflect {
          width: 83%;
          left: 8%; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .section.five .homes .reflect {
          width: 80%;
          left: 16.4%; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .section.five .homes .reflect {
          width: 100%;
          left: 0%;
          text-align: center; } }
      @media only screen and (max-width: 564px) {
        .section.five .homes .reflect {
          width: 65%;
          margin: auto; } }
      .section.five .homes .reflect h3 {
        margin-top: 70px;
        margin-bottom: 0;
        font-size: 30px;
        line-height: 70px;
        font-weight: 300;
        color: white;
        font-family: 'Lato', sans-serif; }
        @media only screen and (min-width: 1537px) {
          .section.five .homes .reflect h3 {
            font-size: 40px; } }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .section.five .homes .reflect h3 {
            font-size: 20px;
            line-height: 30px; } }
        @media only screen and (max-width: 564px) {
          .section.five .homes .reflect h3 {
            text-align: center;
            font-size: 20px; } }
      .section.five .homes .reflect p.ref-text {
        font-size: 14px;
        line-height: 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: white; }
        @media only screen and (min-width: 1537px) {
          .section.five .homes .reflect p.ref-text {
            font-size: 15.5px; } }
        @media only screen and (min-width: 1025px) and (max-width: 1350px) {
          .section.five .homes .reflect p.ref-text {
            font-size: 12px;
            line-height: 18px; } }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .section.five .homes .reflect p.ref-text {
            font-size: 12px;
            line-height: 18px; } }
        @media only screen and (max-width: 564px) {
          .section.five .homes .reflect p.ref-text {
            text-align: center; } }
      .section.five .homes .reflect p.JD {
        margin-top: 15px;
        padding-left: 6px;
        margin-bottom: 0;
        font-size: 18px;
        line-height: 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        color: white; }
        @media only screen and (min-width: 1537px) {
          .section.five .homes .reflect p.JD {
            font-size: 21px; } }
        @media only screen and (min-width: 1025px) and (max-width: 1350px) {
          .section.five .homes .reflect p.JD {
            font-size: 17px; } }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .section.five .homes .reflect p.JD {
            font-size: 16px; } }
        @media only screen and (max-width: 564px) {
          .section.five .homes .reflect p.JD {
            font-size: 18px;
            padding-left: 0;
            margin: 35px 0 0 0; } }
      .section.five .homes .reflect p.china {
        margin-top: 0;
        padding-left: 17px;
        font-size: 15px;
        line-height: 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: white; }
        @media only screen and (min-width: 1537px) {
          .section.five .homes .reflect p.china {
            font-size: 16.5px; } }
        @media only screen and (min-width: 1025px) and (max-width: 1350px) {
          .section.five .homes .reflect p.china {
            font-size: 14px; } }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .section.five .homes .reflect p.china {
            font-size: 13px; } }
        @media only screen and (max-width: 564px) {
          .section.five .homes .reflect p.china {
            font-size: 12px;
            padding-left: 0; } }
      .section.five .homes .reflect .servile {
        width: 35%;
        text-align: center;
        margin-top: 51px;
        border: 1px solid white;
        position: relative;
        z-index: 9; }
        @media only screen and (min-width: 1537px) {
          .section.five .homes .reflect .servile {
            width: 27.4%;
            margin-top: 48px; } }
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          .section.five .homes .reflect .servile {
            width: 20%; } }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .section.five .homes .reflect .servile {
            width: 20%;
            margin: auto; } }
        @media only screen and (max-width: 564px) {
          .section.five .homes .reflect .servile {
            width: 30%;
            margin: auto; } }
        .section.five .homes .reflect .servile a {
          text-decoration: none;
          color: white; }
          .section.five .homes .reflect .servile a p {
            font-family: 'Lato', sans-serif;
            font-size: 15px;
            line-height: 23px;
            margin: 0;
            padding: 15px 0; }
            @media only screen and (min-width: 1537px) {
              .section.five .homes .reflect .servile a p {
                font-size: 16.8px;
                padding: 16px 0; } }
            @media only screen and (min-width: 768px) and (max-width: 1024px) {
              .section.five .homes .reflect .servile a p {
                font-size: 13px;
                padding: 12px 0; } }
            @media only screen and (min-width: 120px) and (max-width: 767px) {
              .section.five .homes .reflect .servile a p {
                font-size: 13px;
                padding: 10px 5px; } }
            @media only screen and (max-width: 564px) {
              .section.five .homes .reflect .servile a p {
                font-size: 11px;
                padding: 7px 0; } }
          .section.five .homes .reflect .servile a p:hover {
            background-color: #2cc1db;
            color: black;
            transition: 0.4s; }
  .section.five .image-box {
    position: absolute;
    display: flex;
    right: 0;
    top: 190px; }
    @media only screen and (min-width: 1537px) {
      .section.five .image-box {
        top: 218px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .section.five .image-box {
        position: relative;
        width: 100%;
        top: 0; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .section.five .image-box {
        position: relative;
        width: 100%;
        top: 0; } }
    .section.five .image-box .direct {
      position: absolute;
      right: 220px;
      top: 120px; }
      @media only screen and (min-width: 1537px) {
        .section.five .image-box .direct {
          top: 157px;
          right: 260px; } }
      @media only screen and (min-width: 1025px) and (max-width: 1350px) {
        .section.five .image-box .direct {
          right: 170px;
          top: 105px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .section.five .image-box .direct {
          position: relative;
          width: 50%;
          margin: auto;
          text-align: center;
          top: -400px;
          right: 0; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .section.five .image-box .direct {
          position: relative;
          width: 50%;
          margin: auto;
          text-align: center;
          top: -300px;
          right: 0; } }
      @media only screen and (max-width: 564px) {
        .section.five .image-box .direct {
          top: 0;
          width: 80%; } }
      .section.five .image-box .direct img {
        width: 480px; }
        @media only screen and (min-width: 1537px) {
          .section.five .image-box .direct img {
            width: 573px; } }
        @media only screen and (min-width: 1025px) and (max-width: 1350px) {
          .section.five .image-box .direct img {
            width: 300px; } }
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          .section.five .image-box .direct img {
            width: 250px; } }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .section.five .image-box .direct img {
            width: 250px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .section.five .image-box .triangle-right {
        display: none; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .section.five .image-box .triangle-right {
        display: none; } }
    .section.five .image-box .triangle-right .bigest img {
      width: 350px; }
      @media only screen and (min-width: 1537px) {
        .section.five .image-box .triangle-right .bigest img {
          width: 433px; } }
      @media only screen and (min-width: 1025px) and (max-width: 1350px) {
        .section.five .image-box .triangle-right .bigest img {
          width: 250px; } }
    .section.five .image-box .triangle-right .cube-midlee {
      position: absolute;
      top: 110px;
      left: 140px; }
      @media only screen and (min-width: 1537px) {
        .section.five .image-box .triangle-right .cube-midlee {
          left: 188px;
          top: 149px; } }
      @media only screen and (min-width: 1025px) and (max-width: 1350px) {
        .section.five .image-box .triangle-right .cube-midlee {
          top: 90px;
          left: 100px; } }
      @media only screen and (min-width: 1025px) and (max-width: 1350px) {
        .section.five .image-box .triangle-right .cube-midlee img {
          width: 60px; } }

.section.six {
  position: relative;
  width: 100%;
  max-width: 1920px; }

.wall-two {
  background-image: url("../images/walpaper-one-section.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  max-width: 1920px;
  position: relative;
  height: 995px;
  top: -650px; }
  @media only screen and (min-width: 1537px) {
    .wall-two {
      top: -350px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .wall-two {
      height: 800px; } }

.coach-two {
  display: flex;
  position: absolute;
  top: -350px; }
  @media only screen and (min-width: 1537px) {
    .coach-two {
      top: -55px; } }
  @media only screen and (min-width: 1025px) and (max-width: 1350px) {
    .coach-two {
      top: -520px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .coach-two {
      display: block;
      width: 100%;
      top: -250px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .coach-two {
      display: block;
      width: 100%;
      top: -450px; } }
  @media only screen and (max-width: 564px) {
    .coach-two {
      top: 130px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .coach-two .image-box-two .triangle-left {
      display: none; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .coach-two .image-box-two .triangle-left {
      display: none; } }
  .coach-two .image-box-two .triangle-left .cube-white {
    position: absolute;
    top: 450px;
    left: 140px; }
    @media only screen and (min-width: 1537px) {
      .coach-two .image-box-two .triangle-left .cube-white {
        top: 568px;
        left: 171px; } }
    @media only screen and (min-width: 1025px) and (max-width: 1350px) {
      .coach-two .image-box-two .triangle-left .cube-white {
        top: 320px;
        left: 120px; } }
    @media only screen and (min-width: 1025px) and (max-width: 1350px) {
      .coach-two .image-box-two .triangle-left .cube-white img {
        width: 60px; } }
  .coach-two .image-box-two .triangle-left .triangle-blue img {
    width: 350px; }
    @media only screen and (min-width: 1537px) {
      .coach-two .image-box-two .triangle-left .triangle-blue img {
        width: 423px; } }
    @media only screen and (min-width: 1025px) and (max-width: 1350px) {
      .coach-two .image-box-two .triangle-left .triangle-blue img {
        width: 250px; } }
  .coach-two .image-box-two .direct-two {
    position: absolute;
    left: 215px;
    top: 120px; }
    @media only screen and (min-width: 1537px) {
      .coach-two .image-box-two .direct-two {
        left: 201px;
        top: 143px; } }
    @media only screen and (min-width: 1025px) and (max-width: 1350px) {
      .coach-two .image-box-two .direct-two {
        left: 170px;
        top: 105px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .coach-two .image-box-two .direct-two {
        position: relative;
        top: 0;
        left: 0;
        text-align: center; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .coach-two .image-box-two .direct-two {
        position: relative;
        top: 0;
        left: 0;
        text-align: center; } }
    .coach-two .image-box-two .direct-two img {
      width: 480px; }
      @media only screen and (min-width: 1537px) {
        .coach-two .image-box-two .direct-two img {
          width: 556px; } }
      @media only screen and (min-width: 1025px) and (max-width: 1350px) {
        .coach-two .image-box-two .direct-two img {
          width: 300px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .coach-two .image-box-two .direct-two img {
          width: 250px; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .coach-two .image-box-two .direct-two img {
          width: 250px; } }
  .coach-two .reflect-two {
    position: relative;
    top: 100px;
    left: 400px;
    width: 100%; }
    @media only screen and (min-width: 1537px) {
      .coach-two .reflect-two {
        left: 388px;
        top: 175px; } }
    @media only screen and (min-width: 1025px) and (max-width: 1350px) {
      .coach-two .reflect-two {
        left: 230px;
        top: 35px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .coach-two .reflect-two {
        width: 70%;
        margin: auto;
        top: -100px;
        left: 0; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .coach-two .reflect-two {
        top: -50px;
        left: 0; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .coach-two .reflect-two .intimer {
        width: 100%;
        text-align: center; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .coach-two .reflect-two .intimer {
        width: 97%;
        margin: auto;
        text-align: center; } }
    @media only screen and (max-width: 564px) {
      .coach-two .reflect-two .intimer {
        width: 65%; } }
    .coach-two .reflect-two .intimer h3 {
      margin-top: 70px;
      margin-bottom: 0;
      font-size: 30px;
      line-height: 70px;
      font-weight: 300;
      color: white;
      font-family: 'Lato', sans-serif; }
      @media only screen and (min-width: 1537px) {
        .coach-two .reflect-two .intimer h3 {
          font-size: 40px; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .coach-two .reflect-two .intimer h3 {
          font-size: 20px;
          line-height: 30px; } }
    .coach-two .reflect-two .intimer p.there {
      font-size: 14px;
      line-height: 25px;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      color: white; }
      @media only screen and (min-width: 1537px) {
        .coach-two .reflect-two .intimer p.there {
          font-size: 16.4px;
          margin-top: 14px; } }
      @media only screen and (min-width: 1025px) and (max-width: 1350px) {
        .coach-two .reflect-two .intimer p.there {
          font-size: 14px;
          line-height: 20px; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .coach-two .reflect-two .intimer p.there {
          font-size: 12px;
          line-height: 17px; } }
    .coach-two .reflect-two .intimer .geting {
      width: 25%;
      text-align: center;
      margin-top: 50px;
      border: 1px solid white; }
      @media only screen and (min-width: 1537px) {
        .coach-two .reflect-two .intimer .geting {
          width: 29.9%;
          margin-top: 48px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .coach-two .reflect-two .intimer .geting {
          width: 20%;
          margin: auto;
          margin-top: 40px; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .coach-two .reflect-two .intimer .geting {
          width: 17%;
          margin: auto;
          margin-top: 40px; } }
      @media only screen and (max-width: 564px) {
        .coach-two .reflect-two .intimer .geting {
          width: 28%; } }
      .coach-two .reflect-two .intimer .geting a {
        text-decoration: none;
        color: white; }
        .coach-two .reflect-two .intimer .geting a p {
          font-size: 15px;
          font-family: 'Lato', sans-serif;
          line-height: 23px;
          margin: 0;
          padding: 15px 0; }
          @media only screen and (min-width: 1537px) {
            .coach-two .reflect-two .intimer .geting a p {
              font-size: 16px; } }
          @media only screen and (min-width: 768px) and (max-width: 1024px) {
            .coach-two .reflect-two .intimer .geting a p {
              font-size: 13px;
              padding: 12px 0; } }
          @media only screen and (min-width: 120px) and (max-width: 767px) {
            .coach-two .reflect-two .intimer .geting a p {
              font-size: 13px;
              padding: 10px 0; } }
          @media only screen and (max-width: 564px) {
            .coach-two .reflect-two .intimer .geting a p {
              font-size: 11px;
              padding: 7px 0; } }
        .coach-two .reflect-two .intimer .geting a p:hover {
          background-color: #2cc1db;
          color: black;
          transition: 0.4s; }

.section.seven {
  position: relative;
  width: 100%;
  max-width: 1920px; }

.blog {
  position: relative;
  top: -500px;
  text-align: center; }
  @media only screen and (min-width: 1537px) {
    .blog {
      width: 99%;
      top: -185px;
      left: 17px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .blog {
      top: -330px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .blog {
      top: -840px; } }
  @media only screen and (max-width: 564px) {
    .blog {
      top: -150px; } }
  .blog h2 {
    font-size: 40px;
    line-height: 70px;
    font-weight: 300;
    color: white;
    font-family: 'Roboto', sans-serif; }
    @media only screen and (min-width: 1537px) {
      .blog h2 {
        font-size: 40px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .blog h2 {
        font-size: 35px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .blog h2 {
        font-size: 25px;
        line-height: 35px; } }
    @media only screen and (max-width: 564px) {
      .blog h2 {
        font-size: 18px; } }

.track {
  height: 319px;
  width: 100%;
  max-width: 1920px;
  position: relative;
  top: -300px;
  background-image: url("../images/bela.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-width: 1537px) {
    .track {
      top: -18px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .track {
      height: 0; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .track {
      height: 0; } }
  @media only screen and (max-width: 564px) {
    .track {
      top: 250px; } }
  .track .galery {
    display: flex;
    position: absolute;
    top: -30%;
    left: 11.2%;
    width: 77.7%; }
    @media only screen and (min-width: 1537px) {
      .track .galery {
        width: 61.4%;
        left: 19%;
        top: -34%; } }
    @media only screen and (min-width: 1025px) and (max-width: 1350px) {
      .track .galery {
        top: -24%; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .track .galery {
        flex-wrap: wrap; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .track .galery {
        flex-wrap: wrap;
        top: -500px; } }
    @media only screen and (max-width: 564px) {
      .track .galery {
        top: -370px; } }
    .track .galery .part-left {
      width: 50%; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .track .galery .part-left {
          width: 100%; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .track .galery .part-left {
          width: 100%; } }
      .track .galery .part-left img {
        width: 100%; }
      .track .galery .part-left .tex-slk {
        position: absolute;
        top: 85%;
        margin-left: 1.8%; }
        @media only screen and (min-width: 1537px) {
          .track .galery .part-left .tex-slk {
            top: 81.9%; } }
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          .track .galery .part-left .tex-slk {
            top: 43%; } }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .track .galery .part-left .tex-slk {
            top: 25%; } }
        @media only screen and (max-width: 564px) {
          .track .galery .part-left .tex-slk {
            margin-left: 5px; } }
    .track .galery .part-right {
      width: 50%;
      margin-left: 1.2%; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .track .galery .part-right {
          width: 100%;
          margin-left: 0;
          margin-top: 15px; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .track .galery .part-right {
          width: 100%;
          margin-left: 0;
          margin-top: 15px; } }
      .track .galery .part-right .half-up img {
        width: 100%; }
      .track .galery .part-right .half-up .tex-slk {
        position: absolute;
        top: 30.5%;
        margin-left: 25px; }
        @media only screen and (min-width: 1025px) and (max-width: 1350px) {
          .track .galery .part-right .half-up .tex-slk {
            margin-left: 10px; } }
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          .track .galery .part-right .half-up .tex-slk {
            top: 68%; } }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .track .galery .part-right .half-up .tex-slk {
            top: 50%; } }
        @media only screen and (max-width: 564px) {
          .track .galery .part-right .half-up .tex-slk {
            margin-left: 5px; } }
      .track .galery .part-right .half-down {
        display: flex;
        margin-top: 12px; }
        .track .galery .part-right .half-down .bicucle {
          margin-right: 14px;
          width: 50%; }
          .track .galery .part-right .half-down .bicucle img {
            width: 100%; }
          .track .galery .part-right .half-down .bicucle .tex-slk {
            position: absolute;
            top: 85%;
            margin-left: 1.8%; }
            @media only screen and (min-width: 1537px) {
              .track .galery .part-right .half-down .bicucle .tex-slk {
                top: 82.4%; } }
            @media only screen and (min-width: 1025px) and (max-width: 1350px) {
              .track .galery .part-right .half-down .bicucle .tex-slk {
                margin-left: 10px; } }
            @media only screen and (min-width: 768px) and (max-width: 1024px) {
              .track .galery .part-right .half-down .bicucle .tex-slk {
                top: 94%; } }
            @media only screen and (min-width: 120px) and (max-width: 767px) {
              .track .galery .part-right .half-down .bicucle .tex-slk {
                margin-left: 10px; } }
            @media only screen and (max-width: 564px) {
              .track .galery .part-right .half-down .bicucle .tex-slk {
                margin-left: 5px; } }
        .track .galery .part-right .half-down .winner {
          width: 50%; }
          .track .galery .part-right .half-down .winner img {
            width: 100%; }
          .track .galery .part-right .half-down .winner .tex-slk {
            position: absolute;
            top: 85%;
            margin-left: 1.8%; }
            @media only screen and (min-width: 1537px) {
              .track .galery .part-right .half-down .winner .tex-slk {
                top: 82.4%; } }
            @media only screen and (min-width: 1025px) and (max-width: 1350px) {
              .track .galery .part-right .half-down .winner .tex-slk {
                margin-left: 10px; } }
            @media only screen and (min-width: 768px) and (max-width: 1024px) {
              .track .galery .part-right .half-down .winner .tex-slk {
                top: 94%; } }
            @media only screen and (min-width: 120px) and (max-width: 767px) {
              .track .galery .part-right .half-down .winner .tex-slk {
                margin-left: 10px; } }
            @media only screen and (max-width: 564px) {
              .track .galery .part-right .half-down .winner .tex-slk {
                margin-left: 5px; } }

.part-left .tex-slk p.date {
  font-size: 14px;
  font-weight: 300;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 0; }
  @media only screen and (min-width: 1537px) {
    .part-left .tex-slk p.date {
      font-size: 16px;
      margin-bottom: 9px; } }
  @media only screen and (min-width: 1025px) and (max-width: 1350px) {
    .part-left .tex-slk p.date {
      font-size: 14px;
      line-height: 18px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .part-left .tex-slk p.date {
      font-size: 13px;
      line-height: 18px; } }

.part-left .tex-slk p.tk {
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0; }
  @media only screen and (min-width: 1537px) {
    .part-left .tex-slk p.tk {
      font-size: 18.5px;
      margin-bottom: 9px; } }
  @media only screen and (min-width: 1025px) and (max-width: 1350px) {
    .part-left .tex-slk p.tk {
      font-size: 15px;
      line-height: 20px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .part-left .tex-slk p.tk {
      font-size: 13px;
      line-height: 18px; } }

.part-right {
  width: 50%; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .part-right {
      width: 100%; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .part-right {
      width: 100%; } }
  .part-right .tex-slk p.date {
    font-size: 14px;
    font-weight: 300;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0; }
    @media only screen and (min-width: 1537px) {
      .part-right .tex-slk p.date {
        font-size: 16px;
        margin-bottom: 9px; } }
    @media only screen and (min-width: 1025px) and (max-width: 1350px) {
      .part-right .tex-slk p.date {
        font-size: 14px;
        line-height: 18px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .part-right .tex-slk p.date {
        font-size: 13px;
        line-height: 18px; } }
  .part-right .tex-slk p.tk {
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0; }
    @media only screen and (min-width: 1537px) {
      .part-right .tex-slk p.tk {
        font-size: 18.5px;
        margin-bottom: 9px; } }
    @media only screen and (min-width: 1025px) and (max-width: 1350px) {
      .part-right .tex-slk p.tk {
        font-size: 15px;
        line-height: 20px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .part-right .tex-slk p.tk {
        font-size: 13px;
        line-height: 18px; } }

.winner .tex-slk p.date {
  font-size: 14px;
  font-weight: 300;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 0; }
  @media only screen and (min-width: 1537px) {
    .winner .tex-slk p.date {
      font-size: 16px;
      margin-bottom: 9px; } }
  @media only screen and (min-width: 1025px) and (max-width: 1350px) {
    .winner .tex-slk p.date {
      font-size: 14px;
      line-height: 18px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .winner .tex-slk p.date {
      font-size: 13px;
      line-height: 18px; } }

.winner .tex-slk p.tk {
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0; }
  @media only screen and (min-width: 1537px) {
    .winner .tex-slk p.tk {
      font-size: 18.5px;
      margin-bottom: 9px; } }
  @media only screen and (min-width: 1025px) and (max-width: 1350px) {
    .winner .tex-slk p.tk {
      font-size: 15px;
      line-height: 20px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .winner .tex-slk p.tk {
      font-size: 13px;
      line-height: 18px; } }

.bicucle .tex-slk p.date {
  font-size: 14px;
  font-weight: 300;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 0; }
  @media only screen and (min-width: 1537px) {
    .bicucle .tex-slk p.date {
      font-size: 16px;
      margin-bottom: 9px; } }
  @media only screen and (min-width: 1025px) and (max-width: 1350px) {
    .bicucle .tex-slk p.date {
      font-size: 14px;
      line-height: 18px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .bicucle .tex-slk p.date {
      font-size: 13px;
      line-height: 18px; } }

.bicucle .tex-slk p.tk {
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0; }
  @media only screen and (min-width: 1537px) {
    .bicucle .tex-slk p.tk {
      font-size: 18.5px;
      margin-bottom: 9px; } }
  @media only screen and (min-width: 1025px) and (max-width: 1350px) {
    .bicucle .tex-slk p.tk {
      font-size: 15px;
      line-height: 20px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .bicucle .tex-slk p.tk {
      font-size: 13px;
      line-height: 18px; } }

.section.eight {
  position: relative; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .section.eight {
      top: 1300px; } }
  @media only screen and (max-width: 564px) {
    .section.eight {
      display: none; } }
  .section.eight .ball {
    background-image: url("../images/basketball.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 828px;
    background-position-x: right;
    position: relative;
    top: -300px; }
    @media only screen and (min-width: 1537px) {
      .section.eight .ball {
        position: relative;
        top: 50px; } }
    @media only screen and (min-width: 1025px) and (max-width: 1350px) {
      .section.eight .ball {
        top: -150px; } }
    @media only screen and (max-width: 1200px) {
      .section.eight .ball {
        top: -300px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .section.eight .ball {
        display: none; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .section.eight .ball {
        display: none; } }
    .section.eight .ball .lecture {
      position: absolute;
      top: 255px;
      width: 100%;
      text-align: center; }
      @media only screen and (min-width: 1537px) {
        .section.eight .ball .lecture {
          width: 99%;
          right: 25px; } }
      @media only screen and (min-width: 1025px) and (max-width: 1350px) {
        .section.eight .ball .lecture {
          top: 400px; } }
      .section.eight .ball .lecture h2 {
        font-size: 40px;
        line-height: 70px;
        font-weight: 300;
        color: white;
        margin-bottom: 31px;
        font-family: 'Lato', sans-serif; }
        @media only screen and (min-width: 1537px) {
          .section.eight .ball .lecture h2 {
            font-size: 41px;
            line-height: 60px;
            margin-bottom: 36px; } }
      .section.eight .ball .lecture .contac {
        position: relative;
        right: 4px;
        width: 15%;
        margin: auto; }
        @media only screen and (min-width: 1537px) {
          .section.eight .ball .lecture .contac {
            width: 11.9%;
            left: 11px; } }
        .section.eight .ball .lecture .contac a {
          text-decoration: none;
          color: white; }
          .section.eight .ball .lecture .contac a p {
            line-height: 56px;
            font-size: 17px;
            font-family: 'Lato', sans-serif;
            background-color: #2cc1db; }
          .section.eight .ball .lecture .contac a p:hover {
            background-color: white;
            color: #2cc1db;
            transition: 0.4s; }

.footer {
  position: relative;
  width: 100%; }
  @media only screen and (min-width: 1537px) {
    .footer {
      top: 45px; } }

.footer-version-one {
  display: flex;
  width: 100%;
  position: absolute;
  top: -222px;
  justify-content: space-between; }
  @media only screen and (min-width: 1537px) {
    .footer-version-one {
      top: -92px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer-version-one {
      top: 1158px; } }
  @media only screen and (max-width: 900px) {
    .footer-version-one {
      top: 1000px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .footer-version-one {
      display: none; } }

.footer-part-left {
  width: 40%; }
  @media only screen and (min-width: 1025px) and (max-width: 1350px) {
    .footer-part-left {
      width: 42.5%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer-part-left {
      width: 42.5%; } }

.logo-down {
  display: flex;
  width: 90%;
  margin-left: auto; }
  @media only screen and (min-width: 1537px) {
    .logo-down {
      width: 80%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .logo-down {
      width: 95%; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .logo-down {
      margin-left: 0;
      width: initial; } }
  @media only screen and (max-width: 564px) {
    .logo-down {
      display: none; } }
  .logo-down p {
    margin-top: 41px;
    font-size: 28px;
    font-weight: 300;
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
    color: white; }
    @media only screen and (min-width: 1537px) {
      .logo-down p {
        font-size: 29px;
        padding-left: 0;
        margin-top: 51px; }
        .logo-down p:nth-last-child(2) {
          padding-left: 0; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .logo-down p {
        font-size: 20px;
        line-height: 43px;
        margin-top: 30px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .logo-down p {
        margin: 0;
        font-size: 20px; } }
  .logo-down p.nada {
    font-weight: 700; }
    @media only screen and (min-width: 1537px) {
      .logo-down p.nada {
        padding-left: 48px; } }

.block-border {
  border-bottom: 1px solid white;
  width: 90%;
  margin-left: auto;
  margin-top: -2.1px; }
  @media only screen and (min-width: 1537px) {
    .block-border {
      width: 80%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .block-border {
      width: 95%; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .block-border {
      margin-left: 0;
      margin-top: 0;
      margin: auto;
      width: 95%; } }

.copy {
  width: 90%;
  margin-left: auto;
  margin-top: 35px;
  margin-bottom: 60px; }
  @media only screen and (min-width: 1537px) {
    .copy {
      width: 80%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .copy {
      width: 95%;
      margin-top: 0;
      margin-bottom: 0; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .copy {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      width: initial; } }
  @media only screen and (max-width: 564px) {
    .copy {
      text-align: center; } }
  .copy p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: white;
    font-weight: 300; }
    @media only screen and (min-width: 1537px) {
      .copy p {
        font-size: 15.5px;
        padding-left: 5px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .copy p {
        font-size: 13px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .copy p {
        font-size: 12px; } }
    .copy p a {
      font-family: 'Roboto', sans-serif;
      color: #2cc1db;
      font-size: 14px;
      line-height: 25px; }
      @media only screen and (min-width: 1537px) {
        .copy p a {
          font-size: 17px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .copy p a {
          font-size: 13px; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .copy p a {
          font-size: 12px; } }

.top {
  position: relative; }
  @media only screen and (min-width: 1025px) and (max-width: 1350px) {
    .top {
      width: 15%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .top {
      width: 15%; } }
  .top .base {
    position: absolute; }
    .top .base img {
      left: -112px;
      top: 63px;
      position: relative; }
      @media only screen and (min-width: 1025px) and (max-width: 1350px) {
        .top .base img {
          width: 250px;
          left: 0;
          top: 98px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .top .base img {
          width: 150px;
          left: 0;
          top: 68px; } }
  .top .flag {
    position: relative;
    top: -10px;
    left: -14px; }
    @media only screen and (min-width: 1537px) {
      .top .flag {
        left: -14px;
        top: -10px; } }
    @media only screen and (min-width: 1025px) and (max-width: 1350px) {
      .top .flag {
        top: 0;
        left: 0; } }
    @media only screen and (min-width: 1025px) and (max-width: 1350px) {
      .top .flag img {
        width: 55px;
        position: relative;
        top: 37px;
        left: 72px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .top .flag img {
        width: 30px;
        position: relative;
        left: 60px;
        top: 44.8px; } }

.footer-part-right {
  width: 40%;
  margin-right: 0; }
  @media only screen and (min-width: 1537px) {
    .footer-part-right {
      width: 42%; } }
  @media only screen and (min-width: 1025px) and (max-width: 1350px) {
    .footer-part-right {
      width: 42.5%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer-part-right {
      width: 42.5%; } }

.menu-social {
  display: flex;
  width: 90%;
  justify-content: space-between; }
  @media only screen and (min-width: 1537px) {
    .menu-social {
      width: 80%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .menu-social {
      width: 95%; } }

.footer-menu {
  position: relative;
  right: 28px;
  width: 78%;
  margin-bottom: 5px; }
  @media only screen and (min-width: 1537px) {
    .footer-menu {
      right: 10%;
      width: 85%; } }
  @media only screen and (min-width: 1025px) and (max-width: 1350px) {
    .footer-menu {
      width: 100%;
      right: 0; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer-menu {
      width: 100%;
      right: 0; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .footer-menu {
      right: 0;
      width: initial; } }
  @media only screen and (max-width: 564px) {
    .footer-menu {
      width: 100%; } }
  .footer-menu ul {
    display: flex;
    padding-left: 0;
    margin-bottom: 0; }
    @media only screen and (min-width: 1025px) and (max-width: 1350px) {
      .footer-menu ul {
        justify-content: space-between; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .footer-menu ul {
        justify-content: space-between; } }
    @media only screen and (max-width: 564px) {
      .footer-menu ul {
        flex-wrap: wrap;
        justify-content: space-between; } }
    .footer-menu ul li {
      padding-right: 8px;
      padding-top: 12px;
      font-size: 14px;
      line-height: 70px;
      font-weight: 400;
      text-transform: uppercase;
      list-style-type: none;
      font-family: 'Roboto', sans-serif;
      color: #fefefe; }
      @media only screen and (min-width: 1537px) {
        .footer-menu ul li {
          font-size: 15px;
          padding-right: 30px;
          line-height: 80px; }
          .footer-menu ul li:nth-last-child(1) {
            padding-right: 0; } }
      @media only screen and (min-width: 1530px) and (max-width: 1781px) {
        .footer-menu ul li {
          padding-right: 15px; } }
      @media only screen and (min-width: 1025px) and (max-width: 1350px) {
        .footer-menu ul li {
          font-size: 13px;
          padding-right: 0; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .footer-menu ul li {
          font-size: 11px;
          padding-right: 0;
          padding-top: 0; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .footer-menu ul li {
          font-size: 11px;
          padding-top: 0;
          line-height: initial; } }
      @media only screen and (max-width: 564px) {
        .footer-menu ul li {
          padding-right: 0; } }
      .footer-menu ul li a {
        text-decoration: none;
        color: white; }
    .footer-menu ul li.homepage {
      padding-left: 0; }

@media only screen and (min-width: 1537px) {
  .footer-social {
    position: relative;
    right: 4%; } }

@media only screen and (min-width: 1025px) and (max-width: 1350px) {
  .footer-social {
    display: none; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .footer-social {
    display: none; } }

.footer-social ul {
  display: flex;
  padding-left: 0;
  margin-top: 42px; }
  @media only screen and (min-width: 1537px) {
    .footer-social ul {
      margin-top: 47px; } }
  .footer-social ul li {
    list-style-type: none;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-left: 5px; }
    @media only screen and (min-width: 1537px) {
      .footer-social ul li {
        width: 37px;
        height: 37px; } }
    .footer-social ul li img {
      width: 10px;
      padding-top: 8px; }
      @media only screen and (min-width: 1537px) {
        .footer-social ul li img {
          width: initial; } }

.block-border-1 {
  border-bottom: 1px solid white;
  width: 90%; }
  @media only screen and (min-width: 1537px) {
    .block-border-1 {
      width: 80%; } }
  @media only screen and (min-width: 1025px) and (max-width: 1350px) {
    .block-border-1 {
      width: 80%;
      position: relative;
      left: 10%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .block-border-1 {
      width: 95%; } }

.desing {
  width: 90%;
  margin-top: 37px;
  text-align: right; }
  @media only screen and (min-width: 1537px) {
    .desing {
      width: 80%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .desing {
      width: 95%;
      margin-top: 0; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .desing {
      margin-top: 0;
      width: initial; } }
  @media only screen and (max-width: 564px) {
    .desing {
      text-align: center; } }
  .desing p {
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    color: white;
    font-family: 'Roboto', sans-serif; }
    @media only screen and (min-width: 1537px) {
      .desing p {
        font-size: 16px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .desing p {
        font-size: 13px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .desing p {
        font-size: 12px; } }
    .desing p a {
      color: #2cc1db; }

.footer-s {
  display: none; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .footer-s {
      display: block;
      position: relative;
      top: 300px; } }
  @media only screen and (max-width: 564px) {
    .footer-s {
      top: 700px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .footer-s .prva {
      display: flex;
      flex-wrap: wrap;
      width: 95%;
      margin: auto;
      justify-content: space-between;
      align-items: center; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .footer-s .treca {
      display: flex;
      flex-wrap: wrap;
      width: 95%;
      margin: auto;
      justify-content: space-between; } }
  @media only screen and (max-width: 564px) {
    .footer-s .treca {
      display: block; } }
